@import url(../../main.css);
.container2 {
    height: 760px;
    margin: 200px auto;
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
}

select {
    width: 40%;
}

.bt3 {
      padding: 16px 30px;
      border: 0;
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      border-radius: 30px;
      color: var(--bg);
      background: var(--mc);
      cursor: pointer;
  }