
<div class="container py-5 px-3">

  <div class="row">


      <section class="sidebar d-none d-md-block col-md-3">
          <app-sidebar></app-sidebar>
      </section>
      <section class="myinfo col-12 col-md-9">

        <h1> Add Eduction </h1>
        <p>4 of 12</p>
        <hr> <br>
        <h6> <b>Schoole</b> </h6>

        <div class="col-12 md-6"> <input type="text" class="form-control" placeholder="EX: Mansoura university"> </div>
        <br>
        <h6> <b> Area of study</b></h6>
        <input type="text" class="form-control" placeholder="EX:computer science">
        <br>
        <h6> <b> Degree</b></h6>
        <input type="text" class="form-control" placeholder="EX:Bachelor's"> <br>

        <h6> <b> Dates Attended </b></h6><br>
        <div class="row">
            <div class="col-md-5 mb-4">

                <select class="select form-control">
            <option value="1">from</option>
            <option value="2">2015</option>
            <option value="3">2016</option>
            <option value="4">2017</option>
          </select>

            </div>
            <div class="col-md-5 mb-4">

                <select class="select form-control">
            <option value="1">to</option>
            <option value="2">2019</option>
            <option value="3">2020</option>
            <option value="4">2021</option>
          </select>

            </div>
        </div>
        <br>
        <h6> <b> Description </b></h6>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=" Descripe your studies, Awards , etc "></textarea>

        <br> <br>


        <div class="md-6 lg-6 d-sm-flex">
            <button class="bt1" type="button"> Back </button>
            <button class="bt2" type="button">Next</button>
        </div>
      </section>

  </div>
</div>

<!-- <div class="container2">

</div> -->
