.right {
    background-color: #147ED5;
}

body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-family: math;
    font-size: 75px;
    padding: 30px 0;
}

.roo {
    background-color: #147ED5;
}

.bott {
    margin-top: 120px;
}

.card {
    border: none;
    color: #0D265F;
}

.card h5 {
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: #0D265F;
}

.card img {
    border-radius: 10px;
}

.last h1 {
    color: #147ED5;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .bott h5 {
        font-size: 15px;
    }
    h1 {
        font-size: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .section3 img {
        margin-left: 1px;
    }
    h1 {
        font-size: 65px;
    }
    .bott h5 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
    .section3 img {
        margin-left: 2px;
    }
    .bott h5 {
        font-size: 15px;
    }
}