<!-- section3 -->
<div class="container section3 text-white">
    <div class="row  mt-5 roo">
        <div class="col-md-6 ps-0 left">
            <img src="./assets/images/find-great-work.jpg" width="100%" height="100%">
        </div>
        <div class="col-md-6 right pt-5 py-1 ps-md-4">
            <div class="row ">
                <div class="col-md-9">
                    <h5>For talent</h5>
                    <h1>Find great work</h1>
                    <p class="fs-5 mb-5">Meet clients youre excited to work with and take your career or business to new hieghts.</p>
                </div>
            </div>
            <div class="row  bott">
                <div class="col-12">
                    <hr/>
                </div>
                <div class="col-sm-12 col-md-4 ">
                    <h5>Find opportunities for every stage of your freelance career</h5>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Control when ,where,and how you work</h5>

                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Explore different ways to earn</h5>

                </div>

            </div>


        </div>

    </div>
</div>
<!-- end of section3 -->

<!-- section4 -->

<div class="container mt-md-5 last">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-8 text-black ps-1 ">
                    <h1>what they are saying</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-10 d-flex justify-content-end">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/images/cara.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>"The freelance talent we work with are more productive than we are thought"</h5>
                            <hr/>
                            <p>cara padford<br> Director of Strategic Markting compuVision
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-start">
            <div class="card pt-5" style="width: 18rem;">
                <img src="./assets/images/sam.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>"My relationship with cara& compuVision keeps on growing. the projects get larger and more technical every year"</h5>
                    <hr/>
                    <p>Sam Crocett<br> independant wen developer

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>