<app-nav></app-nav>
<div class="main container mt-5" >

    <h1 class="main-stats m-3">Submit a Porposile</h1>

    <div class="card my-5" >
        <div class="main container mt-4" *ngIf="isDataGet">

            <h1 class="main-stats m-3">Job details</h1>
            <br>
            <hr>

            <div class="card my-5">

                <div class="row">
                    <div class="card-left col-12 col-lg-9">

                        <div class="card-body" *ngIf="isDataGet">
                            <div class="row">
                                <h4 class="m-3">{{job_details.job_title}} </h4>
                                <div>
                                     &nbsp; posted at: {{job_details.created_at | date:'yyyy-MM-dd hh:mm'}}
                                </div>

     
                                <div class="col-12">
                                    <p class="m-3" style="font-size: 20px;">{{job_details.description}}
                                       
                                    </p>
                           
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside p-3 col-lg-3  d-none d-lg-block border-start">
                        <p style="font-weight: bold;"> <svg style="margin-right: 2px;"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-lightbulb" viewBox="0 0 16 16">
                                <path
                                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                            </svg>{{job_details.experience}} <br> &nbsp;&nbsp; Experience Level
                            <br>
                            <br>
                        <p style="font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path
                                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                            </svg> {{job_details.payment_amount}}
                            <br> <br>
                        <p style="font-weight: bold;"> <svg style="margin-right: 2px;"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar-date" viewBox="0 0 16 16">
                                <path
                                    d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg> {{job_details.duration}} <br> &nbsp;&nbsp;&nbsp; Project Length
                    </div>

                </div>

            </div>
            <h5 style="margin-left: 2vh;">Skills and expertise</h5>
        </div>





        <br>

        <div class="skills" style="margin-left: 3vh;" >
            <button class=" mx-1 my-2  bt1 " *ngFor="let skill of job_skills">{{skill.name}}<b>+</b> </button>

        </div>





    </div>

    <div class="main container mt-5">


        <div class="card my-5">
            <div class="row">
                <div class="card-left col-12">
                    <div class="main-stats-header card-body border-bottom col-12">
                        <p class="main-client h2">Terms</p>

                    </div>


                    <h4 class="m-5">What is that rate you'd like to bid for this job</h4>
                    <form action="" [formGroup]="form">
                        <div class="card-body">
                            <div class="row">
                                <input type="text" name="job_id" hidden formControlName="job_id">
                                <input type="text" name="user_id" hidden formControlName="user_id">

                                <!-- <div class="row"  -->
                                <div class="row justify-content-around">
                                    <div class="col-4">
                                        <!-- <label>Description</label><br> -->
                                        <!-- <input type="text" class="form-control" formControlName="description"
                                            name="description" placeholder="Description" style="width: 22rem;"> -->

                                            <select formControlName="duration_id" name="duration_id" class="form-select" aria-label="Default select example">
                                                <option value={{dur.id}} selected *ngFor="let dur of duration">{{dur.name}}</option>
                                                
                                              </select>
        
                                    </div>

                                    <div class="col-4">
                                        <!-- <label>Amount</label> -->
                                        <input type="number" class="form-control" formControlName="payment_amount"
                                            name="payment_amount" placeholder="amount" style="width: 15rem;">
                                        <div
                                            *ngIf="form.controls.payment_amount.invalid && islogged || (form.controls.payment_amount.dirty || form.controls.payment_amount.touched)">
                                            <small class="text-danger fw-bold mb-3"
                                                *ngIf="form.controls.payment_amount.hasError('required')">This field is
                                                required</small>
                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div>
                        <!-- end of first form input money-->
                        <!-- </div>

      </div>

    </div> -->
                        <br>
                        <hr>
                        <br>
                        <div class="card mt-md-3 mt-sm-4">
                            <h5 class="card-header fw-bold px-md-3 py-md-4 d-flex">
                                Additioal details
                            </h5>

                            <div class="card-body">
                                <!-- Job Title -->
                                <div class="header d-flex">
                                    <p>Cover letter </p>

                                    <br>
                                </div>

                                <!-- Job Info  -->
                                <p>Introduce yourself and explain why you’re a strong candidate for this job. Feel free
                                    to suggest any changes to the job details or ask to schedule a video call.</p>
                                <br>

                                <!-- Job Description -->
                                <div class="form-floating">
                                    <textarea class="form-control" formControlName="cover_letter" name="cover_letter"
                                        placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 100px"></textarea>
                                    <div
                                        *ngIf="form.controls.cover_letter.invalid && islogged || (form.controls.cover_letter.dirty || form.controls.cover_letter.touched)">
                                        <small class="text-danger fw-bold mb-3"
                                            *ngIf="form.controls.cover_letter.hasError('required')">This field is
                                            required</small>
                                        <small class="text-danger fw-bold mb-3"
                                            *ngIf="form.controls.cover_letter.hasError('minlength')">You should write
                                            more than 20 letter </small>
                                    </div>
                                    <label for="floatingTextarea2">Add cover latter</label>
                                </div>
                                <br>
                                <p>Attachments</p>
                                <div>
                                    <label for="formFileLg" class="form-label">Drag or upload project files </label>
                                    <br> <br>
                                    <input formControlName="attatchment" name="attatchment"
                                        class="form-control form-control-lg" id="formFileLg" type="file">
                                </div>
                                <br> <br>
                                <div class="d-grid gap-2 d-md-block">
                                    <button class="bt1" [disabled]="form.invalid" (click)="submitproposal()"
                                        type="submit">Submit a proposal</button>
                                    <button class="bt2" type="button">Cancel</button>
                                </div>

                                <!-- More Info -->

                            </div>

                        </div>
                    </form>
                    <!-- </div> -->

