<div class="main container mt-5">

    <h1 class="main-stats m-3">Submit a Porposile</h1>
    <div class="card my-5">
      <div class="main container mt-4">
  
        <h1 class="main-stats m-3">Job details</h1>
        <br>
  
        <hr>
  
        <div class="card my-5">
  
          <div class="row">
            <div class="card-left col-12 col-lg-9">
  
              <div class="card-body">
                <div class="row">
                  <h4 class="m-3">HTML Form Coding to Email and SMS </h4>
                  <div>
                    <button class=" mx-1 my-1  bt1 col-2 amr"> <b>html</b> </button> &nbsp; Posted Jul 31, 2021
                  </div>
  
                  <!-- <div class="col-4">
                                <p class=" fw-bold h6">Job Success score <br> <p> HTML Form Coding to Email and SMS </p>
                            </div> -->
                  <div class="col-12">
                    <p class="m-3" style="font-size: 20px;"> Hi I have an html site / template and there is 2 contact
                      forms.
  
                      I need someone who can code it so that when client fills out the simple form we get an email and an
                      SMS that new lead has been inputted.
  
                      The client should also get an email that we will reach out to him asap.
  
                      We have the contact page HTML and the thank you page HTML..and also all the content for email we
                      just need you to code it.
  
                      that when client fills out the simple form we get an email and an SMS that new lead has been
                      inputted. The client should also get an email that we will reach out to him asap. We have the
                      contact page HTML and the thank you page HTML..and also all the content for email we just need you
                      to code it.
                    </p>
                    <!-- <div class="row">
                                    <div class="col-6">welcome </div>
                                    <div class="col-6">welcome</div>
                                </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="aside p-3 col-lg-3  d-none d-lg-block border-start">
              <p style="font-weight: bold;"> <svg style="margin-right: 2px;" xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                  <path
                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                </svg>Intermediate <br> &nbsp;&nbsp; Experience Level
                <br>
                <br>
              <p style="font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                  <path
                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                </svg>
                Fixed Price
                <br> <br>
              <p style="font-weight: bold;"> <svg style="margin-right: 2px;" xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                  <path
                    d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
                Less than a month <br> &nbsp;&nbsp;&nbsp; Project Length
            </div>
  
          </div>
  
        </div>
        <h5 style="margin-left: 2vh;">Skills and expertise</h5>
      </div>
  
  
  
  
  
      <br>
  
      <div class="skills " style="margin-left: 3vh;">
        <button class=" mx-1 my-1  bt1">html<b>+</b> </button>
        <button class=" mx-1 my-1  bt1">css <b>+</b></button>
        <button class=" mx-1 my-1  bt1">nodejs<b>+</b></button>
        <button class=" mx-1 my-1  bt1">java<i class="fa fa-solid fa-check "></i></button>
        <button class=" mx-1 my-1  bt1">react`<b>+</b></button>
        <button class=" mx-1 my-1  bt1">html<b>+</b></button>
        <button class="mx-1 my-1  bt1">css<b>+</b></button>
        <button class="mx-1 my-1  bt1">nodejs<b>+</b></button>
        <button class="mx-1 my-1  bt1">java<b>+</b></button>
        <button class="mx-1 my-1  bt1">react<b>+</b>`</button>
      </div>
  
  
  
  
    </div>
  
    <div class="main container mt-5">
  
  
      <div class="card my-5">
        <div class="row">
          <div class="card-left col-12">
            <div class="main-stats-header card-body border-bottom col-12">
              <p class="main-client h2">Terms</p>
  
            </div>
  
  
            <h4 class="m-5">What is that rate you'd like to bid for this job</h4>
            <p style="margin-left: 7vh;"> Your Full stack Development profile rate: $16.00/hr</p>
  
            <div class="card-body">
              <div class="row">
                <!-- <div class="col-5">
                              <p style="margin-left: 5vh; " class=" fw"> Hourly Rate <br> Total amount the client will sent on your proposal </p>
                          </div>
                          <div class="col-2">
  
                                <input type="text" placeholder="15.00 ">
                              </div>
  <div class="col-3">
  /hr
  </div>
  $ -->
                <div class="row">
                  <div class="col-5">
                    <p style="margin-left: 5vh; " class="">Hourly Rate <br> Total amount the client will sent on your
                      proposal</p>
                  </div>
                  <div class="col-7">
                    <div class="row">
                      <div class="col-8"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path
                            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                        </svg> <input type="text" #hourrate placeholder=" 15.00 "> /hr</div>
  
  
                    </div>
                  </div>
                </div>
                <hr class="col-8" style="margin-left: 6vh;">
                <div class="row">
                  <div class="col-5">
                    <p style="margin-left: 5vh; " class="">20% Upwork Service </p>
                  </div>
                  <div class="col-7">
                    <div class="row">
                      <div class="col-8"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path
                            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                        </svg> <input type="text" placeholder="-3.00 "> /hr</div>
  
  
                    </div>
                  </div>
                </div>
                <hr class="hr col-8"  style=" margin-left: 6vh;">
                <div class="row">
                  <div class="col-5">
                    <p style="margin-left: 5vh; " class="">You 'll Receive <br> The estmated amount you 'll receve after
                    </p>
                  </div>
                  <div class="col-7">
                    <div class="row">
                      <div class="col-8"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path
                            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                        </svg> <input type="text" #paymentamount placeholder="12.00 "> /hr</div>
  
  
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
  
      </div>
      <div class="card mt-md-3 mt-sm-4">
        <h5 class="card-header fw-bold px-md-3 py-md-4 d-flex">
          Additioal details
        </h5>
  
        <div class="card-body">
          <!-- Job Title -->
          <div class="header d-flex">
            <p>Cover letter </p>
  
            <br>
          </div>
  
          <!-- Job Info  -->
         <p>Introduce yourself and explain why you’re a strong candidate for this job. Feel free to suggest any changes to
          the job details or ask to schedule a video call.</p>
          <br>
  
          <!-- Job Description -->
          <div class="form-floating">
            <textarea #coverletter class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Add cover latter</label>
          </div>
  <br> <p>Why do you think you are a good fit for this particular project?</p>
          <!-- Job Skills -->
          <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Add cover latter</label>
          </div>
  <br>
  <p>Why did you apply to this particular job?</p>
  <div class="form-floating">
    <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Add cover latter</label>
  </div> <br>
  <p>Attachments</p>
  <div>
    <label for="formFileLg" class="form-label">Drag or upload project files </label> <br> <br>
    <input #attatchment  class="form-control form-control-lg" id="formFileLg" type="file">
  </div>
  <br> <br>
  <div class="d-grid gap-2 d-md-block">
    <button class="bt1"  type="button" (click)="submitproposal(hourrate.value,paymentamount.value,coverletter.value,attatchment.value)">Submit a proposal</button>
    <button class="bt2" type="button">Cancel</button>
  </div>
          <!-- More Info -->
  
          </div>
  
        </div>
  
    </div>
  