<div class="container col-md-6 ">
  <div class="row">
 <div>
   <h1> Location </h1> <p>11 of 12</p> </div>
   <hr style="width: 80%; margin-left: 8vh;">

   <h3>What are you based?</h3>
    <br>
    <h6>  We take your privacy very seriously  </h6>  <br>
    <h3><b>Country</b></h3>
    <div class="col-lg-12 col-md-12 col-sm-9">
    <select class="form-select form-select-sm " aria-label=".form-select-sm example">
     <option selected>Open this select menu</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
   </select> </div>
   <br><br>

   <h3><b>Street Address</b></h3>

    <div class="col-lg-4 col-md-4 col-sm-9 "><input  class="form-control" type="text" aria-label="default input example">
    <br>
   <input  class="form-control" type="text" placeholder="Suite" aria-label="default input example"> </div> <br>

  <h3><b>City </b></h3>
   <div class="continer col-lg-12">
       <label class="visually-hidden" for="autoSizingInputGroup"></label>
       <div class="input-group" >
         <div class="input-group-text col-lg-2">
           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
         </svg></div>
         <input   type="text" class="form-control" id="autoSizingInputGroup" placeholder="Start typing your city">
       </div>
     </div>
     <br> <br>
     <h3><b>ZIP/Postal Code</b></h3> <br>
     <input id="two" type="text" class="form-control col-lg-4 col-md-6 col-sm-6"  style="margin-left: 55px;">

     <div class="md-6 lg-6 d-sm-flex">
       <button class="bt1" type="button" > Back </button>
       <button class="bt2 " type="button">Next</button>
       </div>
       </div>
       </div>
