<div class="container py-5 px-3">

  <div class="row">


      <section class="sidebar d-none d-md-block col-md-3">
          <app-sidebar></app-sidebar>
      </section>
      <section class="myinfo col-12 col-md-9">
        <div class="header"><h1 style="text-align: center;"> Expertise level </h1> <p style="text-align:center;">4 of 12</p> </div>
        <br>

        <h2 style="margin-left: 8vh;">What is your level experience in this field?</h2>
        <br>
        <div id="divone">
        <label class="radio-inline"><input type="radio" name="optradio" style="margin-left: 3vh;">Entry level<br>
         <p style="margin-left: 3vh;font-size: 20px;">I am relatively new to this field</p>
        </label> </div>

        <div id="divone" style="margin-top:8vh ;">
         <label class="radio-inline"><input type="radio" name="optradio" style="margin-left: 3vh;">Intermediate<br>
          <p style="margin-left: 3vh;font-size: 20px;">I have substantial experience in this field</p>
        </label> </div>
        <div id="divone" style="margin-top:8vh ;">
         <label class="radio-inline"><input type="radio" name="optradio" style="margin-left: 3vh;">Expert<br>
          <p style="margin-left: 3vh; font-size: 20px;">I have comprehensive and deep expertise in this field</p>
        </label> </div><br>
        <div class="md-6 lg-6 d-sm-flex" >

         <button  class="bt1" type="button"> Back </button>
         <button class="bt2" type="button">Next</button>
         </div>


      </section>

  </div>
</div>

