<app-nav></app-nav>

<div class="container-fluid">
    <div class="container">
        <div class="row mt-md-5">

            <!-- Start Aside Find Work -->
            <div class="col-md-2 d-sm-none d-md-block">
                <h2 class="mb-md-5">Find Work</h2>

                <ul class="list-unstyled mt-md-5">
                    <li class="my-md-3">
                        <a href="/freelancer/work" class="text-reset active">My Feed</a>
                    </li>
                    <li class="my-md-3">
                        <a href="#" class="text-reset">Best Matches</a>
                    </li>
                    <li class="my-md-3">
                        <a href="#" class="text-reset">Recommended</a>
                    </li>
                </ul>

                <div class="recent-searches">
                    <h5 class="mt-md-4">Recent Searches</h5>
                    <a href="#">Website</a>
                </div>

                <div class="my-categories">
                    <h5 class="mt-md-4">My Categories</h5>
                    <a href="#">Web Ddevelopment</a>
                </div>

                <div class="edit mt-md-3">
                    <a href="#" class="p-2">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
            </div>
            <!-- End Aside Find Work -->

            <!-- Start Main  -->

            <div class="col-md-8 card py-3 ">

                <div class="input-group mb-md-3 d-sm-none d-md-flex">
                    <input type="text" class="form-control p-md-2" [(ngModel)]="query" aria-label="search" placeholder="Search for jobs" [(ngModel)]="query">
                    <a  class="input-group-text" (click)="search()">
                        <i class="fas fa-search"></i>
                    </a>
                </div>


                <!-- Button trigger modal -->
                <a href="#" class="d-sm-none d-md-flex" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Advanced Search
                </a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Advanced Search</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <!-- Body -->
                            <div class="modal-body">
                                <form>

                                    <label for="AllOfTheseWords" class="form-label">All of these words</label>
                                    <input type="text" class="form-control" id="AllOfTheseWords">

                                    <label for="AnyOfTheseWords" class="form-label">Any of these words</label>
                                    <input type="text" class="form-control" id="AnyOfTheseWords">

                                    <label for="TheExactPhrase" class="form-label">The exact phrase</label>
                                    <input type="text" class="form-control" id="TheExactPhrase">

                                    <label for="ExcludeTheseWords" class="form-label">Exclude these words</label>
                                    <input type="text" class="form-control" id="ExcludeTheseWords">

                                    <label for="TitleSearch" class="form-label">Title Search</label>
                                    <input type="text" class="form-control" id="TitleSearch">

                                    <label for="SkillsSearch" class="form-label">Skills Search</label>
                                    <input type="text" class="form-control" id="SkillsSearch">

                                </form>
                            </div>

                            <!-- Footer -->
                            <div class="modal-footer">
                                <a href="#" class="btn text-primary" data-bs-dismiss="modal">Cancle</a>
                                <a href="#" class="btn btn-primary rounded-pill">Search</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card mt-md-3 mt-sm-4">
                    <h5 class="card-header fw-bold px-md-3 py-md-4 d-flex">
                        My Feed
                        <div class="d-inline-block ms-auto">
                            <a href="" class="text-reset p-1">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                        </div>
                    </h5>
                    <!---//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-------------------------------------------------------------------start paginaion------------------------------------->
                  

<!----/////////////////////////////////////////////start card /////////////////////////////////////////////////////////////////-->
                    <div  [routerLink]="['/freelancer/work/details/', post.id]" class="card-body" *ngFor="let post of jobPost   |searchFilter:query | paginate : {
                        itemsPerPage: 5,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index" [class.active]="i == currentIndex">
                        <!-- Job Title -->
                        <div class="header d-flex">
                            <a routerLink="#"> {{post.job_title}}</a>
                            <span class="ms-auto">
                                <i class="far fa-thumbs-down fa-2x mx-md-2"></i>
                                <i class="far fa-heart fa-2x mx-2 d-none"></i>
                                <i class="fas fa-heart fa-2x mx-2"></i>
                            </span>
                            <br>
                        </div>

                        <!-- Job Info  -->
                        Hourly: <span class="hourly-rate fw-bold">$5.00 - $15.00</span>
                        <span class="complex"> - Intermidiate</span> - Est. Time: <span class="job-time"> More than 6 months, Hours to be determined </span> - Posted: <span class="job-since"> 1 day ago</span>
                        <br>

                        <!-- Job Description -->
                        <p class="job-desc fw-bold">
                            {{post.description}}
                        </p>

                       <!-- Job Skills -->
                    <div class="skills text-center">
                        <span class="mx-2"  *ngFor="let skill of post.skills">{{skill.name}}</span>
                    </div>

                        -Proposals: <span class="proposals fw-bold">5 to 10</span> <br>

                        <!-- More Info -->
                        <div class="more-info">
                            <!-- start Verified -->
                            <span class="unverified">
                                <i class="far fa-check-circle me-md-2"></i> <span class="fw-bold">Payment unverified</span>
                            </span>
                            <span class="verified d-none">
                                <i class="fas fa-check-circle mee-md-2"></i> <span class="fw-bold">Payment verified</span>
                            </span>
                            <!-- End Verified -->

                            <!-- Rating -->
                            <span class="payment-rating mx-md-2">
                                rating with stars
                            </span>

                            <!-- Money spent -->
                            <span class="spent mx-md-2">
                                <span class="money-spent fw-bold">${{post.payment_amount}}</span> spent
                            </span>

                            <!-- Location -->
                            <span class="location ms-md-2">
                                <i class="fas fa-map-marker-alt me-2"></i>
                                <span class="fw-bold">United state</span>
                            </span>
                        </div>


                    </div>

                </div>
            </div>
            <!------------------------------------------------------- End main ------------------------------------------------>

            <!-- Start Profile Aside  -->
            <div class="col-md-2 profile d-sm-none d-md-block">
                <!-- My Image -->
                <img src="../../../../../assets/images/itay-verchik-YmQ8TrsieE4-unsplash.jpg" alt="">
                <span class="fw-bold fs-5 ms-md-2">My Profile</span> <br>

                <!-- View Profile -->
                <span class="profile mt-2 d-inline-block">
                    <i class="fas fa-eye me-2"></i>
                    <a href="#">View Profile</a>
                </span>

                <!-- Visibility -->
                <p class="fw-bold mt-2">Visibility</p>
                <i class="fas fa-globe"></i>
                <span class="ms-md-2">Public</span>
                <span class="edit">
                    <a href="#" class="p-1 ms-md-2">
                        <i class="fas fa-pen"></i>
                    </a>
                </span>


                <!-- Hours -->
                <p class="fw-bold mt-2">Hours</p>
                
                <i class="far fa-clock"></i>
                <span class="ms-md-2">More than <br>30 hr  a week</span>
                <span class="edit mx-md-4">
                    <a href="#" class="p-1 ">
                        <i class="fas fa-pen"></i>
                    </a>
                </span>
          
                <!-- Profile completion -->
                <p class="fw-bold mt-3">Profile completion</p>
                <span class="progress" style="height: 15px;">
                    <span class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"> 80% </span>
                </span>

                <!-- Your Project Catalog -->
                <p class="fw-bold mt-3">Your Project Catalog</p>
                <i class="fas fa-tasks me-2"></i>
                <a href="#">My Project</a><br>
                <a href="#" class="mx-4"> Dashboard</a>

                <!-- Proposals -->
                <p class="fw-bold mt-3">Proposals</p>
                <a href="#">50 available connects</a>
            </div>
            <!-- End Profile Aside -->
        </div>
    </div>
</div>
<!---------------------------------------------------------------- pagination controls------------------------------------------------------->
<div class="container">
   
    <div class="d-flex justify-content-center">
        <pagination-controls 
       
          nextLabel="load more jobs" 
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
  
  </div>