
<app-nav></app-nav>


<div class="container-fluid">
    <div class="container">
        <div class="row mt-md-5">
            <!-- Start Aside Find Work -->
            <div class="col-md-2">
                <h2 class="mb-md-5">Find Work</h2>

                <ul class="list-unstyled mt-md-5">
                    <li class="my-md-3">
                        <a href="/freelancer/work" class="text-reset">My Feed</a>
                    </li>
                    <li class="my-md-3">
                        <a href="#" class="text-reset">Best Matches</a>
                    </li>
                    <li class="my-md-3">
                        <a href="#" class="text-reset">Recommended</a>
                    </li>
                </ul>

                <div class="recent-searches">
                    <h5 class="mt-md-4">Recent Searches</h5>
                    <a href="#">Website</a>
                </div>
                
                <div class="my-categories">
                    <h5 class="mt-md-4">My Categories</h5>
                    <a href="#">Web Ddevelopment</a>
                </div>

                <div class="edit mt-md-3">
                    <a href="#" class="p-2">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
            </div>
            <!-- Start Aside Find Work -->

            <!-- Start Main  -->
            <div class="col-md-7">

                <div class="input-group mb-md-3">
                    <input type="text" class="form-control p-md-2" aria-label="search" placeholder="Search for jobs">
                    <a href="" class="input-group-text">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <a href="#">Advanced Search</a>


                <div class="card mt-md-3">
                    <h5 class="card-header px-md-3 py-md-4 d-flex">
                        My Feed
                        <div class="d-inline-block ms-auto">
                            <a href="" class="text-reset p-1">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                        </div>
                    </h5>
                    <div class="card-body">
                        Job Content
                    </div>
                </div>

            </div>
            <!-- End main -->


            <div class="col-md-3"></div>
        </div>
    </div>
</div>
