<app-nav></app-nav>

<div class="container my-5">
    <p class="h4 fw-bold text-capitalize mx-4">my work diary</p>


    <div class="air-card mt-4">
        <div class="card-header pt-5 pb-2">
            <!-- alert section  -->
            <div class="alert bg-light alert-warning alert-dismissible fade show" role="alert">
                <strong class="h5 fw-bold mx-2"> Holy guacamole! </strong> <small class="h6 text-dark"> you have no active jobs.<br> Please use find work tab, to find and apply to new jobs.</small>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
