<app-clientnav></app-clientnav>

<div class="container border mt-5 p-3" >
    <h5>All Proposals (0)</h5>
<div class="container border-bottom border-top mt-4 p-3 ">
      <!-- Job Title -->
      <div class="header d-flex">
        <img class="d-inline-block ms-3 pro imag mb-2" src="../../../assets/images/sam.jpg"/><br>
       <div class="mt-2"> <a class="ms-4 mt-3 name cat"  >  Ahmed<br> 
         </a> <span class="ms-4 mt-3 cat">fullstack developer</span><br>
            <span class="ms-4 mt-3 coun">egypt</span>
        </div>
        
        <span class="ms-auto">
            <button type="button" class="btn btnn btn-lg rounded-pill  border border-1 b1 p-0  me-3  bs " >Hire</button>
            <i class="fas fa-envelope-square msg"></i>
        </span>
        <br>
    </div>
    <br>
    <!-- Job Info  -->
    Hourly: <span class="hourly-rate fw-bold">$5/hr</span><br>
    

    <!-- Job Description -->
    <span class="job-desc ">
       cdscdcd cdacdcvdsvcdavdasv dvdvdvdsvds dvdvdsvdsvsdvsdv dvdsvds
    </span>

    <!-- More Info -->
 


</div>
</div>