<div class="container-visitor" id="container">
  <div class="row">
      <div class="col-md-4 d-none d-md-block">
          <div class="nav flex-column nav-pills" id="v-pills-tab" aria-orientation="vertical">


              <a href="#one" class="mb-14 " data-toggle="pill" id="topskills">
                  Top Skills
              </a>
              <a href="#two" class="mb-15 " data-toggle="pill" id="trendingskills" class="nav-link">
                  Trending skills
              </a>
              <a href="#three" class="mb-15 " data-toggle="pill" id="topskillseg" class="nav-link">
                  Top skills in EGY
              </a>

          </div>
      </div>
      <!-- start one !-->
      <div class="col-md-8" data-qa="skill-list">
          <div class="row" id="one">
              <!-- child one -->
              <div class="col-6">
                  <div class="tab-pane fade show active" style="margin-top: 20px; margin-left: 60px;">
                      <a href=""> Data Entry</a><br><br>
                      <a href="">PHP Developer</a><br> <br>
                      <a href="">Front-End Developer</a><br><br>
                      <a href="">Back-End Developer</a><br><br>
                      <a href=""> iOS Developer</a><br><br>
                      <a href="">Database Administrator</a><br><br>
                  </div>
              </div>
              <div class="col-6">
                  <div class="tab-pane fade show active" style="margin-top: 20px; margin-left: 60px;">
                      <a href="">JavaScript Developer</a><br><br>
                      <a href=""> Mobile App Developer</a><br><br>
                      <a href=""> Web Designer</a><br><br>
                      <a href=""> Data Analyst</a><br><br>
                      <a href=""> Python Developer</a><br><br>
                      <a href=""> Java Developer</a><br><br>
                  </div>
              </div>
          </div>
          <div class="row" id="three">

              <div class="col-6">
                  <div class="tab-pane fade " style="margin-top: 20px; margin-left: 60px;">
                      <a href=""> 5Data Entry</a><br><br>
                      <a href="">2PHP Developer</a><br> <br>
                      <a href="">Front-End Developer</a><br><br>
                      <a href="">Back-End Developer</a><br><br>
                      <a href=""> iOS Developer</a><br><br>
                      <a href="">Database Administrator</a><br><br>
                  </div>
              </div>
              <div class="col-6">
                  <div class="tab-pane fade " style="margin-top: 20px; margin-left: 60px;">
                      <a href="">65JavaScript Developer</a><br><br>
                      <a href=""> Mobile App Developer</a><br><br>
                      <a href=""> Web Designer</a><br><br>
                      <a href=""> Data Analyst</a><br><br>
                      <a href=""> Python Developer</a><br><br>
                      <a href=""> Java Developer</a><br><br>
                  </div>
              </div>
          </div>



          <!-- three-->

          <div class="row" id="two">

              <div class="col-6">
                  <div class="tab-pane fade " style="margin-top: 20px; margin-left: 60px;">
                      <a href=""> 897Data Entry</a><br><br>
                      <a href="">42PHP Developer</a><br> <br>
                      <a href="">Front-End Developer</a><br><br>
                      <a href="">Back-End Developer</a><br><br>
                      <a href=""> iOS Developer</a><br><br>
                      <a href="">Database Administrator</a><br><br>
                  </div>
              </div>
              <div class="col-6">
                  <div class="tab-pane fade " style="margin-top: 20px; margin-left: 60px;">
                      <a href="">8745JavaScript Developer</a><br><br>
                      <a href=""> 452Mobile App Developer</a><br><br>
                      <a href=""> Web Designer</a><br><br>
                      <a href=""> Data Analyst</a><br><br>
                      <a href=""> Python Developer</a><br><br>
                      <a href=""> Java Developer</a><br><br>
                  </div>
              </div>
          </div>




      </div>


  </div>
</div>
