<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="col-12 col-md-9">
            <div class="header">
                <h3>Overview</h3>
                <p>2 of 7</p>
            </div>
            <form action="" [formGroup]="form">
                <div class="body">
                    <div class="overview card-haeder mt-3">
                        <p class="h3 fw-bold">Overview</p>
                        <textarea formControlName="overview" class="form-control" placeholder="type an overview about yourself"></textarea>
                        <!-- <div *ngIf="form.controls.overview.invalid && form.controls.overview.dirty || form.controls.overview.touched"> -->
                        <div *ngIf="form.controls.overview.invalid && isLogged || (form.controls.overview.dirty || form.controls.overview.touched)">
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.overview.hasError('required')">This field is required</small>
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.overview.hasError('minlength')">You should write more than 255 letter </small>
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.overview.hasError('maxlength')"> You can not write more than 500 letter</small>
                            <!-- <small class="text-danger fw-bold mb-3" *ngIf="form.controls.overview.hasError('pattern')"> You need to write a valid text</small> -->
                        </div>
                    </div>

                    <div class="mt-5 mb-3">
                        <p class="h3 fw-bold">Title</p>
                        <input type="text" formControlName="job_title" class=" form-control" placeholder="write title for your skills">
                        <!-- <div *ngIf="form.controls.job_title.invalid && form.controls.job_title.dirty || form.controls.job_title.touched"> -->
                        <div *ngIf="form.controls.job_title.invalid && isLogged || (form.controls.job_title.dirty || form.controls.job_title.touched)">
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.job_title.hasError('required')">This field is required</small>
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.job_title.hasError('minlength')">You should write more than 20 letter </small>
                            <small class="text-danger fw-bold mb-3" *ngIf="form.controls.job_title.hasError('maxlength')"> You can not write more than 250 letter</small>
                            <!-- <small class="text-danger fw-bold mb-3" *ngIf="form.controls.job_title.hasError('pattern')"> You need to write a valid text</small> -->
                        </div>
                    </div>
                </div>
                <div class=" footer lg-6 d-sm-flex">
                    <button class="bt1" routerLink="/user/signup/category">back</button>
                    <button class="bt2" (click)="next()" type="submit">next</button>
                </div>
            </form>
        </section>

    </div>
</div>
