<app-nav></app-nav>
<div class="container">

    <!-- this is main form -->
    <form action="" class=" mt-5 ">
        <p class="contracts h2 mb-4 mx-3"> Contracts</p>

        <!-- Card -->
        <div class="card">


            <!-- search section   -->
            <div class="search card-body border-bottom d-flex align-items-center">
                <div class="form-group col-6">
                    <input class="form-control my-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="search-icon d-lg-none offset-3">
                    <button class="btn-search rounded-circle"><span class="fa fa-search-location"></span></button>
                </div>
            </div>

            <!-- sort section  -->
            <div class="section card-body border-bottom d-flex row m-0">
                <div class="select align-items-center mt-1 col-lg-6 col-sm-9 col-10">
                    <div class="row">

                        <span class="sorted lead d-none d-lg-block col-lg-3  fw-bold p-0">Sorted by </span>

                        <select class="form-select-sm form-control w-50  col-lg-5 col-8" aria-label="Default select example">
                          <option selected>Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>

                        <div class="total col-lg-3 col-4">
                            <button class=" btn rounded-circle"><span class="fa fa-arrow-down fa-sm"></span></button>
                            <small class="align-middle"> 0 total</small>
                        </div>


                    </div>
                </div>

                <div class="vertical col-lg-6 col-sm-3 col-2 align-text-bottom">
                    <div class="row">

                        <!-- checkbox  -->
                        <div class="checkbox col-lg-8 d-none d-lg-block align-items-center mt-2 py-1">
                            <input class="form-check-input mx-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="lable form-check-label" for="flexCheckDefault"> Include closed contracts</label>
                        </div>


                        <div class="cv col-12 col-lg-4 align-items-center">
                            <button class="cv-btn btn btn-link fa fa-arrow-down d-none d-md-block"><small> Download CV</small></button>
                            <button class="cv-btn btn btn-link d-block d-md-none pt-2 text-dark"><i class="fa fa-file"></i></button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="footer card-body border-bottom">
                <p class="small ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab error voluptate temporibus libero rem ratione veniam ipsam modi recusandae qui<span class="fw-bold btn btn-link">non quis esse quia.</span></p>
            </div>
        </div>
    </form>
    <!-- this is main form -->

</div>