.container {
    .card {
        .total {
            // border-radius: 50%;
            // width: 60px;
            // height: 60px;
            border: 1px solid red
        }
        .cv-btn {
            color: black;
            text-decoration: none;
        }
    }
}
