.container {
    font-weight: bold;
    form {
        .search,
        .section,
        .footer {
            background-color: var(--tc);
            color: white;
        }
        .contracts {
            color: var(--mc)
        }
    }
    .card {
        .section {
            .sorted {
                color: var(--mc);
                // .row .form-select-sm {
                //     background-color: red;
                // }
            }
        }
        .cv-btn {
            color: black;
            text-decoration: none;
        }
        .vertical .checkbox .lable {
            color: var(--mc)
        }
        .footer {
            span {
                color: var(--mc);
                text-decoration: none;
            }
        }
    }
}
