
        <app-clientnav></app-clientnav>

    <div class="container ps-4 border">
        <div class="row">
          <!-- left col -->
          <div class="col-12 col-lg-9 ">
            <div class="row border-bottom py-3 pt-md-4">
              <h4>Job details</h4>
              <p class="po"> web design
                <br><span class="sp">Posted 4 days ago</span><br>
                <span><i class="fas fa-route ii"></i>WorldWide</span>
            </p>
  
            </div>
            <div class="row border-bottom mt-4 py-md-1">
              <p class="po">ccdccdcdccdscdscdc</p>
            </div>
            <div class="row border-bottom py-3 pt-md-3">
                <div class="col-md-4 ">
                    <i class="far fa-clock ii"></i>
                    <p class="d-inline ms-md-1 po">job_details_duration

                    </p>
                </div>
          
                <div class=" col-md-4 ">
                    <i class="fas fa-dollar-sign d-inline ii"></i>
                    <p class="d-inline ms-md-1 po">job_details_experience
                        <!-- <br><span class=" sp">freelancers with the lowest rates</span> -->

                    </p>

                </div>

            </div>



            <div class="row border-bottom pt-3 pt-md-3">
              <p class="ii"><b>Project Type:</b> &nbsp; One-time project</p>
            </div>
            <div class="row border-bottom py-3 pt-md-3">
              <p class="po ii"><b>Skills and expertise </b></p><br>
              <p class="po">Web Design Languages </p>
              <ul class="nav free mb-md-4">
                <li class="nav-item">
                  <a class="nav-link " href="#">CSS3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WordPress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PHP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">HTML</a>
                </li>
              </ul>
            </div>
            <div class="row border-bottom pt-3 pt-md-3">
                <div class="col ">
                    <p class="po ii"><b>Activity on this job </b></p>
                    <p class="po ">Proposals:  Less than 5
                         <br><br>
                         Last viewed by client:  3 days ago <br>
                         Interviewing: 0 <br>
                         Invites sent: 0 <br>
                         Unanswered invites: 0  <br>


                    </p>
                </div>
            </div>
  
          </div>
           <!--end of left col -->
          <!-- right col -->
           <div class=" right d-none d-lg-block col-lg-3 border-start pt-md-4">
            <!-- <i class="fas fa-eye ii"></i><h5 class="d-inline ps-3 ps-md-3 ">View Posting</h5><br> -->
          <h5>About Client</h5>

          <p>2 jobs posted <br> <br>
            0% hire rate <br> <br>
            Member since : Jun 6, 2021
          </p>
           </div>
            <!--end of right col -->
        </div>
      </div>
