<div class="container">
    <div class="row mb-5">
        <div class="text col-11 col-md-7 offset-1 offset-sm-0 col-sm-12 text-start">
            <h1 class="my-5 fs-md-2">
                Join the world's<br> work marketplace
            </h1>
            <p class="lead mx-2 my-5">
                Find great talent. Build your business.<br> Take your career to the next level.
            </p>

            <button class="btn my-4 one p-2 w-25 " (click)="freelancer()" >Freelancer</button>
            <button class="btn my-4 two p-2 w-25 mx-2" (click)="jobs()">Jobs</button>
        </div>
        <div class="img col-5 d-none d-md-block" >
            <br><br>
            <img src="../../../../assets/images/globe-2x.jpg" class="img-fluid " alt="" style="border-radius:50% ;">
        </div>
    </div>
</div>
