.container {
    h1 {
        font-size: 80px !important;
        color: var(--mc);
    }
    p {
        font-size: 24px !important;
        color: var(--tc)
    }
    button {
        padding: 12px 29px;
        border-radius: 40px;
        border: 1px solid var(--mc);
        &.one {
            margin-right: 15px;
            background-color: var(--sc);
            color: white;
        }
        &.two {
            color: var(--mc);
        }
    }
}

// start media Query
// xg screen
@media(max-width:1399.99px) {
    .container {
        h1 {
            font-size: 71px !important;
        }
    }
}

// lg screen
@media(max-width:1199.9px) {
    .container {
        h1 {
            font-size: 59px !important;
        }
    }
}

// md screen
@media(max-width:991.99px) {
    .container {
        h1 {
            font-size: 44px !important;
        }
        p {
            font-size: 20px !important;
        }
    }
}

// sm screen
@media(max-width:767.99px) {
    .container {
        h1 {
            font-size: 48px !important;
        }
        p {
            font-size: 22px !important;
        }
    }
}

// xs screen
@media(max-width:575.99px) {}

// end media Query