<div class="container p-4 mb-5 fw-bold">
    <div class="text col-12 col-md-9 col-lg-6 p-4 ">
        <h3 class="text-light">For clients</h3>
        <h1 class="mt-5 ">
            Find talent your way
        </h1>
        <h2 class="lead text-light mt-5 mb-2">
            Work with the largest network of independent <br> professionals and get things done—from quick <br> turnarounds to big transformations.
        </h2>
    </div>
    <div class="links row d-flex justify-content-evenly g-3 m-2 ">

        <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2>Post a job and hire a pro</h2>
                </div>
                <pre>
                </pre>
                <div class=" ">
                    <span class="">Talent Marketplace <sup>TM </sup> </span>
                    <span> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div> 
         <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2 class=" ">Post a job and hire a pro</h2>
                </div>
                <pre>
              </pre>
                <div class=" ">
                    <span class="">Talent Marketplace <sup>TM </sup> </span>
                    <span> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div> 
         <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2 class=" ">Post a job and hire a pro</h2>
                </div>
                <pre>
                </pre>
                <div class=" ">
                    <span class="">Talent Marketplace <sup>TM</sup> </span>
                    <span class=" "> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div> 
    </div>
</div>