.container {
    background-image: url('/../../../../assets/images/find-talent.jpg');
    background-size: cover;
    border-radius: 20px;
    position: relative;
    z-index: 0; 
}
/* .container::after{
    content: '';
    position: absolute;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    opacity: .3;
     z-index: 0; }
 */
.text ,.links{
    z-index: 9;
}


.container .text h1 {
    font-size: 64px !important;
    color: var(--bg);
}

.container .links a {
    z-index: 9999;
    border-radius: 20px;
    text-decoration: none;
    background-color: var(--mc);
    color: var(--bg);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.container .links a:hover {
    background-color: var(--bg);
    color: black;
}

@media (max-width: 991.99px) {
    .text p {
        font-size: 17px !important;
        color: var(--bg);
    }
    .text h1 {
        font-size: 63px !important;
        color: var(--sc);
    }
}

@media (max-width: 767.99px) {
    .text p {
        font-size: 17px !important;
        color: var(--tc);
    }
    .text h1 {
        font-size: 47px !important;
        color: var(--sc);
    }
}

@media (max-width: 575.99px) {
    .text p {
        font-size: 17px !important;
        color: white;
    }
    .text h1 {
        font-size: 47px !important;
        color: var(--sc);
    }
}