.container {
    background-image: url('../../../../assets/images/find-talent.jpg');
    background-size: cover;
    border-radius: 20px;
    // height: 634px;
    .text {
        font-weight: bold !important;
        p {
            font-size: 18px !important;
            color: white;
        }
        h1 {
            font-size: 64px !important;
            color: var(--sc);
        }
    }
    .links {
        a {
            border-radius: 20px;
            text-decoration: none;
            background-color: var(--sc);
            color: white;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: white;
                color: var(--mc);
            }
        }
    }
}

// start media Query
// xg screen
@media(max-width:1399.99px) {}

// lg screen
@media(max-width:1199.9px) {}

// md screen
@media(max-width:991.99px) {
    .text {
        p {
            font-size: 17px !important;
            color: white;
        }
        h1 {
            font-size: 63px !important;
            color: var(--sc);
        }
    }
}

// sm screen
@media(max-width:767.99px) {
    .text {
        p {
            font-size: 17px !important;
            color: var(--tc)
        }
        h1 {
            font-size: 47px !important;
            color: var(--sc);
        }
    }
}

// xs screen
@media(max-width:575.99px) {
    .text {
        p {
            font-size: 17px !important;
            color: white;
        }
        h1 {
            font-size: 47px !important;
            color: var(--sc);
        }
    }
}

// end media Query