<div class="container p-4 mb-5 fw-bold">
    <div class="text col-12 col-md-9 col-lg-6 p-4 ">
        <p class=" ">For clients</p>
        <h1 class="mt-5 ">
            Find talent your way
        </h1>
        <p class="lead text-light">
            Work with the largest network of independent <br> professionals and get things done—from quick <br> turnarounds to big transformations.
        </p>
    </div>
    <div class="links row d-flex justify-content-evenly g-3 m-2 ">

        <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2>post a job and hire a pro</h2>
                </div>
                <pre>
                </pre>
                <div class=" ">
                    <span class="text-uppercase ">talent marketplace <sup>TM </sup> </span>
                    <span> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2 class=" ">post a job and hire a pro</h2>
                </div>
                <pre>
              </pre>
                <div class=" ">
                    <span class="text-uppercase ">talent marketplace <sup>TM </sup> </span>
                    <span> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 ">
            <a class="row p-2 ">
                <div class=" ">
                    <h2 class=" ">post a job and hire a pro</h2>
                </div>
                <pre>
                </pre>
                <div class=" ">
                    <span class="text-uppercase ">talent marketplace <sup>TM </sup> </span>
                    <span class=" "> <i class="fa fa-arrow-right "></i></span>
                </div>
            </a>
        </div>
    </div>
</div>