<app-nav></app-nav>
<div class="container border pt-3 mt-5">
    <div class="row">
        <div class="col">
            <div class="row border-bottom">
                <div class="col">
                    
                    <h4>Create a client account</h4>
                </div>
            </div>
            <form  [formGroup]="form">
            <p class="mt-3">Setup a client account if you want to post jobs and hire talents.</p>


            <!-- <div class="bill p-3 mb-4">
                    <p >billing is required asdd dddw</p>

                </div> -->
                
            <label class="form-label">Company Name</label>
            <input type="text" formControlName="comp_name" name="comp_name" class="form-control">
            <div
            *ngIf="form.controls.comp_name.invalid && islogged || (form.controls.comp_name.dirty || form.controls.comp_name.touched)">
            <small class="text-danger fw-bold mb-3"
                *ngIf="form.controls.comp_name.hasError('required')">This field is
                required</small>
            <small class="text-danger fw-bold mb-3"
                *ngIf="form.controls.comp_name.hasError('minlength')">You should write
                more than 5 letter </small>
        </div>
          
            <!-- <span>Your company name will NOT appear on job posts unless you have previously worked with the talent or agency on Upwork.</span> -->
            <hr class="mt-5">
            <div class="row mb-3">
                <div class="col d-flex justify-content-end">
                    <button  type="submit" class="btn btn-primary rounded-pill "  (click)="addcompany()">Create Client Account</button>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>