<app-nav></app-nav>


<!-- Client satisfaction section -->
<div class="main container mt-5">

    <h1 class="main-stats m-3">My Stats</h1>
    <div class="card my-5">
        <div class="row">
            <div class="card-left col-12 col-lg-9">
                <div class="main-stats-header card-body border-bottom">
                    <p class="main-client h2">Client satisfaction</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <p class=" fw-bold h5">Job Success score</p>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-6">welcome</div>
                                <div class="col-6">welcome</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside p-3 col-lg-3  d-none d-lg-block border-start">
                <p class="main-job h5 fw-bold">Job Success Score</p>
                <br>
                <br>
                <p class="text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat id deleniti rerum nesciunt beatae harum deserunt ullam autem, repudiandae commodi error ipsum praesentium repellat, nihil nisi magnam asperiores nobis eos.</p>
            </div>
        </div>
    </div>
</div>


<!-- communication section  -->
<div class="main container mt-5">

    <div class="card my-5">
        <div class="row">
            <div class="card-left col-12 col-lg-9 m-0">
                <div class="comunication-header card-body border-bottom">
                    <p class="main-client h2 ">Comunication</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class=" fw-bold h5">You haven't received any invitations in the past 90 days.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside p-3 col-lg-3  d-none d-lg-block border-start">
                <p class="main-job h5 fw-bold">Response time</p>
                <br>
                <p class="text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat id deleniti rerum nesciunt beatae harum deserunt ullam autem, repudiandae commodi error ipsum praesentium repellat, nihil nisi magnam asperiores nobis eos.</p>
                <br>
                <p class="main-job h5 fw-bold">Avaliable</p>
                <br>
                <p class="text-dark">More than 30 hrs/week</p>
                <button class="btn" style="border-radius: 20px;">Change</button>
            </div>
        </div>
    </div>
</div>


<!-- Marketing effectiveness section -->
<div class="main container mt-5">

    <div class="card my-5">
        <div class="row">
            <div class="card-left col-12 col-lg-9 m-0">
                <div class="Marketing-effectiveness-header card-body border-bottom">
                    <p class="main-client h2 ">Marketing effectiveness</p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div>
                            <p class=" fw-bold h5">You haven't received any invitations in the past 90 days.</p>
                            <p class="small text-center pt-3">Among freelancers in Web, Mobile & Software Dev</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-lg-4">
                            <p class="h6 pt-1">You were viewed</p>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="text">
                                <span class="h6">Less often</span>
                                <span class="h6 pull-right">More often</span>
                            </div>
                            <div class="progress w-100">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-lg-4">
                            <p class="h6 pt-1">You were interviewed</p>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="text">
                                <span class="h6">Less often</span>
                                <span class="h6 pull-right">More often</span>
                            </div>
                            <div class="progress w-100">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-lg-4">
                            <p class="h6 pt-1">You were hired</p>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="text">
                                <span class="h6">Less often</span>
                                <span class="h6 pull-right">More often</span>
                            </div>
                            <div class="progress w-100">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <p class=" fw-bold small">You haven't received any invitations in the past 90 days.</p>
                    </div>

                    <!-- profile views section  -->
                    <!-- <div class="profile-view row mb-2 align-items-center">
                        <div class="profile-view-text col-4">
                            <p class="h6 pt-1 text-center">Profile views</p>
                        </div>
                        <div class="col-8">
                            <div class="profile-veiw-chart">
                                <div>in here we need to use primeNG<pre>









                                </pre></div>
                            </div>
                        </div>
                    </div> -->


                    <!-- profile complete section  -->
                    <div class="profile-complete row mb-2">
                        <div class=" col-4 col-lg-3">
                            <p class=" h6 pt-1">You were hired</p>
                        </div>
                        <div class="profile-complete-progress col-8 col-lg-6 py-2">
                            <div class="progress w-100">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block">
                            <p class="h6 pt-1 pull-right">75% complete</p>
                        </div>


                    </div>


                </div>
            </div>


            <div class="aside p-3 col-lg-3  d-none d-lg-block border-start">
                <p class="main-job h5 fw-bold">Job Success Score</p>
                <br>
                <br>
                <p class="text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat id deleniti rerum nesciunt beatae harum deserunt ullam autem, repudiandae commodi error ipsum praesentium repellat, nihil nisi magnam asperiores nobis eos.</p>
            </div>
        </div>
    </div>
</div>

<pre>


























</pre>