<app-nav></app-nav>



<div class="main container mt-5">

    <h1 class="main-stats m-3">My Stats</h1>
    <div class="card my-5">
        <div class="row">
            <div class="col-12 col-md-9 m-0">
                <div class="card-body border-bottom">
                    <p class="main-client h2 ">Client satisfaction</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <p class=" fw-bold h5">Job Success score</p>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-6">welcome</div>
                                <div class="col-6">welcome</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside p-3 col-md-3  d-none d-md-block border-start">
                <p class="main-job h5 fw-bold">Job Success Score</p>
                <br>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat id deleniti rerum nesciunt beatae harum deserunt ullam autem, repudiandae commodi error ipsum praesentium repellat, nihil nisi magnam asperiores nobis eos.</p>
            </div>
        </div>
    </div>
</div>
