<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar col-3"></section>
        <section class="myinfo col-9">
            <p class="h1 fw-bold mb-5">My Info</p>


            <!-- account section  -->
            <div class="card">

                <div class="card-header px-4">
                    <span class="h2">Account</span>
                    <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil"></span> </span>
                </div>
                <div class="card-body  px-4">
                    <div class="account-img">

                    </div>
                </div>
                <div class="card-footer  px-4">
                    hi
                </div>

            </div>





        </section>

    </div>
</div>
