<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>

        </section>

        <section class="myinfo col-12 col-md-9">
            <p class="h2 mx-2 fw-bold mb-5">My Info</p>


            <!-- account section  -->
            <div class="card mb-5">

                <div class="card-header p-4">
                    <span class="h2">Account</span>
                    <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#account"></span> </span>
                </div>
                <div class="card-body  px-4 d-flex justify-content-center">
                    <div class="account-shape" style="background-image: url('./assets/images/login.jpg');">
                    </div>
                </div>
                <div class="card-footer  px-4">
                    <p class="h4 fw-bold">I***mali</p>
                    <p class="text-muted fw-bold">iti - Client</p>
                    <p class="small fw-bold">Email</p>
                    <p class="text-muted fw-bold">h***7@gmail.com</p>
                </div>
            </div>

            <!-- account section modal  -->
            <div class="modal fade" id="account" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Re-enter password</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h6 fw-bold">I***mali</p>
                            <p class="text-muted fw-bold">eng.....@gmail.com</p>
                            <a href="#" class="small fw-bold">Not you?</a><br>
                            <form class="form">
                                <label class="small form-check-label">password</label><br>
                                <input type="password" class="form-control w-50"><br>
                                <a href="#" class="small fw-bold">Forget Password</a>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">cancel</button>
                            <button type="button" class="btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End account section modal  -->




            <!-- Company details -->
            <div class="card mb-5">

                <div class="card-header p-4 ">
                    <span class="h2">Company details</span>
                    <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#company"></span></span>
                </div>
                <div class="card-body  px-4 d-flex justify-content-center">
                    <div class="company-shape" style="background-image: url('./assets/images/jefferson-santos-9SoCnyQmkzI-unsplash.jpg');"></div>
                </div>
                <div class="card-footer  px-4">
                    <p class="h4 fw-bold">ITI</p>
                </div>
            </div>
            <!-- company section modal  -->
            <div class="modal fade" id="company" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="form">
                                <label class="small form-check-label">Company Name</label><br>
                                <input type="text" class="form-control"><br>
                                <label class="small form-check-label">Website</label><br>
                                <input type="text" class="form-control"><br>
                                <label class="small form-check-label">Tagline</label><br>
                                <input type="text" class="form-control"><br>
                                <label class="small form-check-label">Description</label><br>
                                <input type="text" class="form-control"><br>
                                <button type="button" class="btn" data-bs-dismiss="modal">Save</button>
                                <button type="button" class="btn mx-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End company section modal  -->


            <!-- Company contacts-->
            <div class="card mb-5">

                <div class="card-header p-4 ">
                    <span class="h2">Company contacts
                    </span>
                    <!-- <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil"></span></span> -->
                </div>
                <div class="card-footer  px-4 pt-3">
                    <p class="h6 fw-bold">Owner</p>
                    <p class="text-muted fw-bold">I*** ali</p>
                </div>
                <div class="card-footer  px-4 pt-3">
                    <p class="h6 fw-bold">Phone</p>
                    <p class="text-muted fw-bold">0***1030</p>
                </div>
                <div class="card-footer  px-4 pt-3">
                    <p class="h6 fw-bold">VAT ID</p>
                    <span class="btn btn-link px-0 fw-bold">Enter your VAT ID </span><span class="small mx-3"> to enable VAT invoicing</span>
                </div>
                <div class="card-footer  px-4 pt-3">
                    <p class="h6 fw-bold">Time Zone</p>
                    <p class="text-muted fw-bold">UTC+02:00 Cairo</p>
                </div>
                <div class="card-footer  px-4 pt-3">
                    <p class="h6 fw-bold">Address</p>
                    <p class="text-muted fw-bold">A***bya</p>
                    <p class="text-muted fw-bold">A***1111</p>
                    <p class="text-muted fw-bold">Egypt GH</p>
                </div>
            </div>



            <!-- This is a Client account -->
            <div class="card mb-5">
                <div class="card-footer  px-4 py-3">
                    <p class="lead fw-bold">This is a Client account</p>
                    <div class="row">
                        <div class="col-7 pull-left">
                            <button class="account-btn btn">Create New Account</button>
                        </div>
                        <div class="col-5  pull-right mx-0">
                            <span class="small btn btn-link pull-right">Close Account</span>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>

<pre>































</pre>