.container .card {
    .accordion .accordion-button {
        color: var(--sc);
    }
    .nav {
        font-weight: bold !important;
        a {
            text-decoration: none;
        }
        .active {
            background-color: var(--tc);
            color: white !important;
        }
    }
    .body {
        height: 420px;
        overflow: hidden;
        .collapse .data {
            font-size: 1rem !important;
            margin-bottom: 50px;
            width: 100%;
            max-height: 100%;
            overflow: hidden;
        }
    }
}

#collapseFour {
    .card-title {
        background-color: #f4f4f4;
        height: 100%;
    }
    button {
        border: 1px solid var(--sc);
        color: var(--mc);
        border-radius: 20px;
        &:hover {
            background-color: var(--sc);
            color: rgb(232, 231, 231);
        }
    }
}
