.container .card .accordion .accordion-button {
    color: var(--sc);
}

.container .card .nav {
    font-weight: bold !important;
}

.container .card .nav a {
    text-decoration: none;
}

.container .card .nav .active {
    background-color: var(--tc);
    color: white !important;
}

.container .card .body {
    height: 420px;
    overflow: hidden;
}

.container .card .body .collapse .data {
    font-size: 1rem !important;
    margin-bottom: 50px;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#collapseFour .card-title {
    background-color: #f4f4f4;
    height: 100%;
}

#collapseFour button {
    border: 1px solid var(--sc);
    color: var(--mc);
    border-radius: 20px;
}

#collapseFour button:hover {
    background-color: var(--sc);
    color: #e8e7e7;
}

.card {
    background-color: var(--bg)
}
