<div class=" py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="myinfo col-12 col-md-9">
            <div class="container  col-md-8">
                <div class="header">
                    <h2>hourly Rate</h2>
                    <p>8 of 12</p>
                </div>

                <div class="body">
                    <div class="sec1 sec">
                        <p>Clients will see this rate on your profile and in search results once you publish your profile. You can adjust your rate every time you submit a proposal
                        </p>
                        <div class="align">
                            <div class="left">
                                <h2>hourly rate</h2>
                                <p>total amount the client will see</p>
                            </div>
                            <div class="right">
                                <input type="text" name="hourlyRate" placeholder="10.00">
                                <span>/hr</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="sec2 sec">
                        <div class="align">
                            <div class="left">
                                <h2>upwork service fee</h2>
                                <a href="#">Explain this</a>

                            </div>
                            <div class="right">
                                <input type="text" name="fee" placeholder="-2.00">
                                <span>/hr</span>
                            </div>

                        </div>
                        <p>The Upwork Service Fee is 20% when you begin a contract with a new client. bill over $500 with your client. the fee will be 10%</p>
                    </div>
                    <hr>
                    <div class="sec3 sec">
                        <div class="align">
                            <div class="left">
                                <h2>you will recive</h2>
                                <p> the estimated amount you will recive after service fee </p>
                            </div>
                            <div class="right">

                                <input type="text" name="recieved" placeholder="8.00">
                                <span>/hr</span>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="footer">
                    <button class="btn" routerLink="/user/signup/lang">back</button>
                    <button class="btn" routerLink="/user/signup/location">next</button>
                </div>
            </div>

        </section>

    </div>
</div>
