body {
    font-family: Montserrat, sans-serif;
    background-color: var(--bg);
}

.container {
    background-color: white;
    width: 75%;
}

.image {
    height: 6.25rem;
    border: 1px solid black;
}

h4,
p,
h5 {
    display: inline-block;
}

.v_pro {
    padding: 1rem;
}

.ii {
    padding: 0.3125rem;
    /* border: 1px solid black; */
    /* border-radius: 80% ; */
    margin-left: .5rem;
}


/* .arrow{
  margin-left: 130px;
} */

i:hover {
    cursor: pointer;
}

span {
    margin-left: .8rem;
}

.right {
    padding: 1.2rem;
}

.r {
    height: 15.5rem;
}

.work,
.portifolio,
.skills {
    height: 4.53rem;
}


/* .skills{
  height: 3.125rem;

} */

.card {
    border: none;
    text-align: center;
    height: 12rem;
    color: var(--mc);
}

.car {
    margin-top: 1rem;
}

.card-title {
    color: black;
}

a {
    color: var(--mc);
}

.ii {
    color: var(--mc);
}

p,
.ii,
h4 {
    font-size: 1.1rem;
    margin-top: .5rem;
}

img {
    height: 6.25rem;
    /* padding: 1rem; */
}

h4,
h5 {
    display: inline-block;
    font-size: 1.2rem;
}

.ca {
    position: absolute;
    /* margin: 12px 0 0 8px; */
}

.b1 {
    background-color: white;
    color: var(--mc);
    font-size: 1rem;
    width: 11.875rem;
    height: 3.125rem;
    cursor: pointer;
}

.b1:hover {
    /* color: white; */
    background-color: var(--bg);
}

.b2 {
    background-color: var(--mc);
    color: white;
    font-size: 1rem;
    width: 11.875rem;
    height: 3.125rem;
    cursor: pointer;
}

.b2:hover {
    color: var(--mc);
    background-color: var(--bg);
}

@media only screen and (max-width: 992px) {
    .b1,
    .b2 {
        display: none;
    }
    /* h4{

      font-size: 1.25rem;
  }
  .v_pro{
      padding: 1rem;
  }
  .card{
      height:12.5rem ;
      margin-top: 3.125rem;
  }
  .car{
      margin-top: 1rem;
  }  */
}

@media only screen and (max-width: 768px) {
    .b1,
    .b2 {
        display: none;
    }
    .card {
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .b1,
    .b2 {
        display: none;
    }
    .card {
        height: 200px;
    }
}

@media only screen and (max-width: 480px) {
    b1,
    b2 {
        display: none;
    }
}
#one{
  width: 210px;
  height: 150;

}
#one:hover{
  cursor: pointer;
}
#two
{
  cursor: pointer;

}
#two:hover{
  text-decoration: underline;
}
#three{
  background-color:var(--mc) ;
  color: white;
  border-radius:50%;

}
