<app-nav></app-nav>
<div class="container firstcon border rounded mt-md-5" *ngFor="let i of profileData">
    <!-- image container -->
    <div class="row rounded-top">
        <div class="col border-bottom ">
            <div class="my-md-4 d-flex">
                <i class="fas fa-camera ca ii ms-4 mt-2"></i>
                <img class="d-inline-block ms-3" src="./assets/images/profile.jpg" />
                <h4 class="d-inline-block mt-4 ms-3">{{i.user.name}}</h4>
                <button type="button" class="btn btn-lg rounded-pill  border border-1 b1 mt-4 me-3 ms-auto" routerLink="/freelancer/info">Profile Setting</button>
            </div>

        </div>
    </div>


    <!-- second container -->
    <div class="row view rounded ">
        <div class="col-md-4 v_pro border-end rounded-start d-none d-lg-block">
            <div class="row ">
                <div class="col">
                    <div class="mt-md-4 border-bottom">Language <i class="fas fa-plus ii"></i> <i class="far fa-edit ii"></i></div>
                    <!-- <div>
                        <button *ngFor="let Language  of i.user" class="btn btn-primary text-light">{{Language.name}}</button>
                       </div> -->
                    <div class="mt-md-4">Education <i class="fas fa-plus ii"></i> <i class="far fa-edit ii"></i></div>
                    
                </div>
            </div>


        </div>
        <div class="col-12 col-lg-8   rounded-end">
            <div class="row border-bottom r">
                <div class="col mt-md-3 ">
                    <div class="row">
                        <div class="col-md-5">
                            <span>
                                <p><b>Add your title</b> </p><i class="fas fa-plus ii rounded-circle"></i>
                            </span>

                        </div>
                        <div class="col-md-5 ms-3">
                            <span class="ms-auto">
                                <p class="fw-bold">${{i.hourly_rate}}/hr</p>
                            </span>
                        </div>
                        <div class="col-md-5 ms-3">
                            <span class="ms-auto">
                                <p>{{i.overview}}</p>
                                
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-bottom ">
                <div class="col " style="height:20%;">
                    <div class="d-flex align-items-center work mt-2">
                        <span class="d-flex">
                            <p>Work history </p><i class="fas fa-plus ii ms-md-3"></i>
                        </span>

                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <div class="portifolio d-flex align-items-center work mt-2">
                        <span class="d-flex">
                            <p>Add portifolio </p><a href="/freelancer/profile/portofolio"><i class="fas fa-plus ii ms-md-3"></i>
                                                   <!-- Modal -->
                                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Launch static backdrop modal
                    </button>
                    
                    <!-- Modal -->
                    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <app-portofolio></app-portofolio>
                        </div>
                        </div>
                    </div> -->
                            <!-- end modal -->
                            </a></span>

                    </div>
                    <div class="card" style="width: 18rem;" *ngIf="isDataGet">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="d-flex" *ngFor="let item of data">
                            <img src="../../../../../assets/images/clearly-rated.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title d-flex">{{item.title}}</h5>
                                <p class="card-text d-flex">{{item.description}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <div class="skills d-flex align-items-center work mt-5">
                        <span class="d-flex">
                            <div>Add skills <i class="fas fa-plus ii ms-md-3"></i>
                                 <div>
                                     <button *ngFor="let skill of i.skills" class="btn btn-primary text-light">{{skill.name}}</button>
                                    </div>
                            </div>
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="container Testimonials rounded mt-md-4">
    <div class="row car">
        <div class="col">
            <div class="card ps-0 my-3">
                <div class="card-header bg-transparent d-flex">
                    <h4>Testimonials </h4> <i class="fas fa-plus ii ms-auto"></i>
                </div>
                <div class="card-body ">
                    <h5 class="card-title ">Showcase your skills with non-Upwork client testimonials
                    </h5><br>
                    <p class="card-text "><a href="">Request a testimonial</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- certifications -->

<div class="container Certifications rounded mt-md-4">
    <div class="row  car">
        <div class="col">
            <div class="card ps-0 my-3">
                <div class="card-header bg-transparent d-flex">
                    <h4>Certifications </h4> <i class="fas fa-plus ii ms-auto"></i>
                </div>
                <div class="card-body ">
                    <h5 class="card-title mt-md-5">Showcase your Certifications with your client
                    </h5><br>
                    <!-- <p class="card-text "><a href="">Request a testimonial</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Employment history -->

<div class="container Employment history rounded mt-md-4">
    <div class="row car">
        <div class="col">
            <div class="card ps-0 my-3">
                <div class="card-header bg-transparent d-flex">
                    <h4>Employment history </h4> <i class="fas fa-plus ii ms-auto"></i>
                </div>
                <div class="card-body ">
                    <h5 class="card-title mt-md-5">Showcase your Employment history with your client
                    </h5><br>
                    <!-- <p class="card-text "><a href="">Request a testimonial</a></p> -->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Employment history -->

<div class="container Other experiences rounded my-md-4">
    <div class="row car">
        <div class="col">
            <div class="card ps-0 my-3">
                <div class="card-header bg-transparent d-flex">
                    <h4>Other experiences </h4> <i class="fas fa-plus ii ms-auto"></i>
                </div>
                <div class="card-body ">
                    <h5 class="card-title mt-md-5">Showcase your Other experiences with your client
                    </h5><br>
                    <!-- <p class="card-text "><a href="">Request a testimonial</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>