<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">


    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5" style="border-radius: 40px;">
                            <h2 class="text-uppercase text-center mb-5">WElcome in our WebSite </h2>
                            <div class="d-flex justify-content-center">
                                <form action="#" style="border-radius: 30px;  " type="button" class=" btn-block btn-lg gradient-custom-4 text-body">
                                    <a type="button" (click)="signInWithGoogle()" target="_blank"> Sign Up with Google  </a>&nbsp; &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <path
                      d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                  </svg>&nbsp;
                                </form>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <form style="border-radius: 30px;" action="#" type="button" class=" btn-block btn-lg gradient-custom-4 text-body">
                                    <a type="submit" (click)="signInWithFB()" target="_blank">Sign Up with Facebook
                  </a>&nbsp; <span class="fa fa-facebook fa-lg"> </span>
                                </form>
                            </div>
                            <!-- <p> <span class="btn-round">or</span> </p>

               <p> --><br>
                            <h4 class="btn-round">OR</h4>
                            <br>
                            <div class="d-flex justify-content-center">
                                <form action="#" style="border-radius: 30px;" type="button" class=" btn-block btn-lg gradient-custom-4 text-body">
                                    <a type="submit" routerLink="/user/signup/register">Register Now</a>
                                </form>
                            </div>


                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/user/" class="fw-bold text-body">Login here </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
        Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">Logged in with {{ user.provider }}</p>
    </div>
    <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div class="card-block" *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID">
        <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button>
    </div>
</div> -->