<div class="container" *ngIf="isLoaded">
    <div class="row">
        <h1>Edit Portfolio Data</h1>
        <form action="" [formGroup]="portForm">
            <!-- Start Slider -->
            <div class="slider">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ portfolioData.images[0].images_path }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" *ngFor="let image of portfolioData.images">
                            <img src="{{ image.images_path }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div> 
            <!-- End Slider -->

            <label for="title">Title</label>
            <input type="text" value="{{ portfolioData.title }}" formControlName="title" class="form-control">
            
            <div *ngIf=" (portForm.controls.title.invalid && isLoaded ) || (portForm.controls.title.dirty || portForm.controls.title.touched)">
                <small class="text-danger fw-bold mb-3" *ngIf="portForm.controls.title.hasError('required')">This
                    field is required</small>
                <small class="text-danger fw-bold mb-3" *ngIf="portForm.controls.title.hasError('minlength')">You
                    have to write more than 3 characters</small>
            </div>

            <label for="description">Description</label>
            <input type="text" value="{{ portfolioData.description }}" formControlName="description" class="form-control">
            <div
                *ngIf=" (portForm.controls.description.invalid && isLoaded )|| (portForm.controls.description.dirty || portForm.controls.description.touched)">
                <small class="text-danger fw-bold mb-3"
                    *ngIf="portForm.controls.description.hasError('required')">This field is required</small>
                <small class="text-danger fw-bold mb-3"
                    *ngIf="portForm.controls.description.hasError('minlength')">You have to write more than 3
                    characters</small>
            </div>

            <button type="submit" [disabled]='portForm.invalid' class="btn btn-success mt-3" (click)="update(portfolioData.id)">Update Portfolio</button>
        </form>
    </div>
</div>