<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>



        <section class="category col-md-9">

            <div class="container2 ">

                <div class="header">
                    <h3> Category </h3>
                    <p>1 of 7</p>
                </div>


                <br>
                <p> Tell us about the work you do </p>
                <br>
                <h3> <b> what is the main service you offer ? </b></h3> <br><br>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
                <br>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select><br> <br>
                <div class="md-6 lg-6  footer">

                    <!-- (click)="next(1)" -->
                    <button class="bt2" type="button" routerLink="/user/signup/overview">Next</button>

                </div>
            </div>


        </section>

    </div>
</div>
