<!-- Footer -->
<div class="container-fluid">
    <div class="container text-white p-5">

        <!-- start Footer Links -->
        <!-- Start Links from midium screen and above -->
        <div class="row d-sm-none d-md-flex ">
            <!-- For Clients -->
            <div class="col-md-3">
                <h5 class="text-capitalize">for clients</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">How to Hire</a>
                    </li>

                    <li>
                        <a href="#">Talent Marketplace</a>
                    </li>

                    <li>
                        <a href="#">Project Catalog</a>
                    </li>

                    <li>
                        <a href="#">Talent Scout</a>
                    </li>

                    <li>
                        <a href="#">Enterprise</a>
                    </li>

                    <li>
                        <a href="#">Direct Contracts</a>
                    </li>

                    <li>
                        <a href="#">Hire Worldwide</a>
                    </li>

                    <li>
                        <a href="#">Hire in the USA</a>
                    </li>
                </ul>

            </div>

            <!-- For Talent -->
            <div class="col-md-3">
                <h5 class="text-capitalize">for talent</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">How to Find Work</a>
                    </li>

                    <li>
                        <a href="#">Direct Contracts</a>
                    </li>

                    <li>
                        <a href="#">Find Freelance Jobs Worldwide</a>
                    </li>

                    <li>
                        <a href="#">Find Freelance Jobs in the USA</a>
                    </li>
                </ul>
            </div>

            <!-- Resourses -->
            <div class="col-md-3">
                <h5 class="text-capitalize">Resources</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">Help & Support</a>
                    </li>

                    <li>
                        <a href="#">Success Stories</a>
                    </li>

                    <li>
                        <a href="#">Upwork Reviews</a>
                    </li>

                    <li>
                        <a href="#">Resources</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Community</a>
                    </li>
                </ul>
            </div>

            <!-- Company -->
            <div class="col-md-3">
                <h5 class="text-capitalize">Company</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">About Us</a>
                    </li>

                    <li>
                        <a href="#">Leadership</a>
                    </li>

                    <li>
                        <a href="#">Investor Relations</a>
                    </li>

                    <li>
                        <a href="#">Careers</a>
                    </li>

                    <li>
                        <a href="#">Press</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>

                    <li>
                        <a href="#">Trust, Safety & Security</a>
                    </li>

                    <li>
                        <a href="#">Modern Slavery Act Transparency Statement</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Links from midium screen and above  -->

        <!-- Strat Links in small screen -->
        <div class="accordion d-md-none" id="accordionExample">

            <!-- For Clients -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    for clients
                                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">How to Find Work</a>
                            </li>

                            <li>
                                <a href="#">Direct Contracts</a>
                            </li>

                            <li>
                                <a href="#">Find Freelance Jobs Worldwide</a>
                            </li>

                            <li>
                                <a href="#">Find Freelance Jobs in the USA</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- For Talent -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    for talent
                                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">How to Find Work</a>
                            </li>

                            <li>
                                <a href="#">Direct Contracts</a>
                            </li>

                            <li>
                                <a href="#">Find Freelance Jobs Worldwide</a>
                            </li>

                            <li>
                                <a href="#">Find Freelance Jobs in the USA</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Resourses -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Resources
                                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Help & Support</a>
                            </li>

                            <li>
                                <a href="#">Success Stories</a>
                            </li>

                            <li>
                                <a href="#">Upwork Reviews</a>
                            </li>

                            <li>
                                <a href="#">Resources</a>
                            </li>

                            <li>
                                <a href="#">Blog</a>
                            </li>

                            <li>
                                <a href="#">Community</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Company -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Company
                                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">About Us</a>
                            </li>

                            <li>
                                <a href="#">Leadership</a>
                            </li>

                            <li>
                                <a href="#">Investor Relations</a>
                            </li>

                            <li>
                                <a href="#">Careers</a>
                            </li>

                            <li>
                                <a href="#">Press</a>
                            </li>

                            <li>
                                <a href="#">Contact Us</a>
                            </li>

                            <li>
                                <a href="#">Trust, Safety & Security</a>
                            </li>

                            <li>
                                <a href="#">Modern Slavery Act Transparency Statement</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Links in small screen -->

        <!-- End Footer Links -->

        <hr>

        <!-- Start Follow Us -->
        <div class="row py-2 follow-us d-flex justify-content-between">
            <div class="col-md-3 -col-sm-6">
                Follow US &nbsp;
                <a href="#">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>

            </div>

            <div class="col-md-3 -col-sm-6">
                Mobile App &nbsp;
                <a href="#">
                    <i class="fab fa-apple fa-lg"></i>

                </a>
                <a href="#">
                    <i class="fab fa-android fa-lg"></i>
                </a>
            </div>
        </div>
        <!-- End Follow Us -->

        <hr>

        <!-- Start Footer Footer -->

        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-3">
                &copy; 2015 - 2021 Upwork Global Inc &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |
            </div>
            <div class="col-sm-12 col-md-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Accessibility</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- End Footer Footer -->
    </div>
</div>