<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-2 mb-md-4">Hire a pro <br> for any skill</h1>
            <ul class="list-unstyled display-6">
                <li >
                    <a href="#" >Development & IT</a>
                </li>
                <li>
                    <a href="#" class="active">Design & Creative</a>
                </li>
                <li>
                    <a href="#">Sales & Marketing</a>
                </li>
                <li>
                    <a href="#">Writing & Translation</a>
                </li>
                <li>
                    <a href="#">Admin & Customer Support</a>
                </li>
                <li>
                    <a href="#">Finance & Accounting</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/images/annie-spratt-QckxruozjRg-unsplash.jpg" class="img-fluid mb-3" alt="">
            <div class="p-md-3">
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">AR/VR Development</span>
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">Automation Testing</span>
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">Back-End Development</span>
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">Business Applications Development</span>
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">CMS Development</span>
                <span class="m-sm-1 m-md-2 p-2 d-inline-block">Cloud Engineering</span>
            </div>
        </div>
    </div>
</div>