h1{
    font-size: 8vh;
    font-weight: 630 !important;
    color:black
}

.img-fluid{
    height: 345px;
    object-fit: contain;
}


img{
    border-radius: 10px;
}

.btnn{
    background-color: var(--bg);
    color: var(--bc);
    padding: 2px;
}
.btnn:hover{
    background-color: #c6d2db ;

}

 li{
    font-size: 30px;
    font-family: cursive;
    text-decoration: none;
    font-weight: 600;
    color:rgb(146, 145, 145);
}
 li:hover{
     cursor: pointer;
    color:var(--mc);
}
/* ----------------------------------------------------------------------------------------------------------------- */

/* Media Query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width:768px) { 
    a{
        font-size: 1.4rem;
    }
    /* h1{

    } */
    @media screen and (max-width: 992px)  {
        h1{
            font-size:2.5rem
        }
    }
}