h1{
    font-size: 80px;
    font-weight: 600 !important;
    color:var(--mc)
}

li a{
    text-decoration: none;
    color:#999;
}
.img-fluid{
    /* width: 60vw; */
    height: 400px;
    object-fit: contain;
}
li a:hover{
    color: blue;
}

a.active{
    color: var(--mc) !important;
}

img{
    border-radius: 10px;
}

span{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 1.5rem;
}

span:hover{
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.btnn{
    width: 8rem ;
    background-color: var(--mc);
    color: white;
}
.btnn:hover{
    background-color: var(--bg);
    color: var(--mc);
}
.skillname{
    font-size: 4rem;
    font-family: cursive;
    color: var(--mc);
}
.skillname:hover{
    color: blue;
}
/* ----------------------------------------------------------------------------------------------------------------- */

/* Media Query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width:768px) { 
    a{
        font-size: 1.4rem;
    }
}