/* Start Aside Find Job */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    border-left: 5px solid var(--mc);
}

.h2 {
    color: var(--mc);
}


/* End Aside Find Job */
