  /***********************essential*********************/

  h3 {
      color: var(--mc)
  }

  a {
      font-size: 12px;
      color: var(--sc);
  }

  .header,
  .footer {
      background-color: var(--bg);
      padding: 15px;
  }

  .footer {
      display: flex;
      justify-content: space-between;
  }

  .bt1 {
      margin-left: 20px;
      padding: 16px 30px;
      border: 0;
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      border-radius: 30px;
      background: var(--bg);
      color: var(--mc);
      cursor: pointer;
  }

  .bt1:hover {
      background-color: var(--mc);
      color: var(--bg);
  }

  .bt2 {
      padding: 16px 30px;
      margin-left: 240px;
      border: 0;
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      border-radius: 30px;
      color: var(--bg);
      background: var(--mc);
      cursor: pointer;
  }

  p {
      font-size: 14px;
  }
