<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="./assets/images/login.jpg" class="login-card-img" alt="login">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1 class="logo">Departments</h1>
                        </div>
                        <p class="login-card-description">Sign into your account</p>
                        <form action="#" [formGroup]="form">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input formControlName="email" type="email" name="email" id="email" class="form-control mb-0" placeholder="Email address">
                                <div *ngIf="form.controls.email.invalid && isLogged || (form.controls.email.dirty || form.controls.email.touched)">
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.email.hasError( 'required') ">Email is required</small>
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.email.hasError( 'email') ">Invalid Email </small>
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.email.hasError( 'maxlength') "> this is big email</small>
                                </div>
                            </div>
                            <div class="form-group mb-4 ">
                                <label for="password" class="sr-only ">Password</label>
                                <input formControlName="password" type="password" name="password" id="password" class="form-control mt-3 mb-0 " placeholder="*********** ">
                                <div *ngIf="form.controls.password.invalid && isLogged || (form.controls.password.dirty || form.controls.password.touched)">
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.password.hasError( 'required') ">Password is required</small>
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.password.hasError( 'minlength') ">You have to write more than 8 characters</small>
                                    <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.password.hasError( 'maxlength') ">You have to write less than 15 characters</small>
                                </div>
                            </div>
                            <input name="login" (click)="login()" id="login" class="btn btn-primary mb-4 form-control" type="submit" value="Login">
                        </form>
                        <a href="#" class="forgot-password-link">Forgot password?</a>
                        <p class="login-card-footer-text ">Don't have an account?<a routerLink="/user/signup/register">Register here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
