<div class=" container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="expertise col-12 col-md-9">

            <div class="header">
                <h3>Expertise</h3>
                <p>2 of 7</p>
            </div>
            <div class="body">
                <div class="sec sec1">
                    <p><b>Select your skills</b></p>
                    <div class="skills">
                        <button class=" mx-1 my-1  bt1">html<b>+</b> </button>
                        <button class=" mx-1 my-1  bt1">css <b>+</b></button>
                        <button class=" mx-1 my-1  bt1">nodejs<b>+</b></button>
                        <button class=" mx-1 my-1  bt1">java<i class="fa fa-solid fa-check "></i></button>
                        <button class=" mx-1 my-1  bt1">react`<b>+</b></button>
                        <button class=" mx-1 my-1  bt1">html<b>+</b></button>
                        <button class="mx-1 my-1  bt1">css<b>+</b></button>
                        <button class="mx-1 my-1  bt1">nodejs<b>+</b></button>
                        <button class="mx-1 my-1  bt1">java<b>+</b></button>
                        <button class="mx-1 my-1  bt1">react<b>+</b>`</button>
                    </div>
                </div>
                <div class="sec sec2">
                    <p><b>Not what you're looking for ?</b></p>

                    <div class="card">



                        <input type="text" name="serachSkills" class="form-control" placeholder="Start typing to search for skills">
                    </div>
                </div>
            </div>
            <div class=" footer lg-6 d-sm-flex">
                <button class="bt1" routerLink="/user/signup/category">back</button>
                <button class="bt2" routerLink="/user/signup/expertise-level">next</button>
            </div>
        </section>
    </div>
</div>