/* You can add global styles to this file, and also import other style files */


/* bootstrap  */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* prime-ng  */


/* node_modules/primeng/resources/themes/saga-blue/theme.css
node_modules/primeng/resources/primeng.min.css */


/* constant colors  */

html {
    --mc: #0D265F;
    --sc: #FC792E;
    --tc: #147ED5;
}


/* constant font in our project  */

body {
    font-family: Montserrat, sans-serif;
}


/* example for how to use constant color  */

body {
    background-color: var(--mc);
}
