<div class="container py-5 px-3">

  <div class="row">


      <section class="sidebar d-none d-md-block col-md-3">
          <app-sidebar></app-sidebar>

      </section>

      <section class="myinfo col-12 col-md-9">
          <p class="h2 mx-2 fw-bold mb-5">Contact Info</p>


          <!-- account section  -->
          <div class="card mb-5">

              <div class="card-header p-4">
                  <span class="h2">Account</span>
                  <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#account"></span> </span>
              </div>
              <div class="card-footer  px-4">
                  <p class="fw-bold">User ID</p>
                  <p>f1d8081d</p>
                  <p class="fw-bold">Name</p>
                  <p>Omar Badr</p>
                  <p class="fw-bold">Email</p>
                  <p>o******67@gmail.com</p>
              </div>
          </div>

          <!-- account section modal  -->
          <div class="modal fade" id="account" tabindex="-1">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Re-enter password</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p class="h6 fw-bold">I***mali</p>
                          <p class="text-muted fw-bold">eng.....@gmail.com</p>
                          <a href="#" class="small fw-bold">Not you?</a><br>
                          <form class="form">
                              <label class="small form-check-label">password</label><br>
                              <input type="password" class="form-control w-50"><br>
                              <a href="#" class="small fw-bold">Forget Password</a>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">cancel</button>
                          <button type="button" class="btn">Save</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End account section modal  -->

          <div class="card mb-5">

            <div class="card-header p-4">
                <span class="h2">Additional Account</span><br>
                <span>Creating a new account allows you to use Upwork in different ways, while still having just one login.</span>
            </div>
            <div class="card-footer px-4">
                <p class="fw-bold mt-2">Client Account</p>
                <span class="text-justify">Hire, manage and pay as a different company. Each client company has its own freelancers, payment methods and reports.</span>
                <button routerLink="/setting/client-account" type="button" class="btn pull-right">New Client Account</button>
            </div>
        </div>



          <!-- Company details -->
          <div class="card mb-5">

              <div class="card-header p-4 ">
                  <span class="h2">Location</span>
                  <span class="btn rounded-circle  pull-right pt-2"><span class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#company"></span></span>
              </div>
              <div class="card-footer  px-4">
                <p class="fw-bold">Time Zone</p>
                <p>UTC+02:00 Cairo</p>
                <p class="fw-bold">Address</p>
                <p>Mecca 2 St. new torel Mansoura 50 Al Mansurah, DK 35511 Egypt</p>
                <p class="fw-bold">Phone</p>
                <p>+20 1067642806</p>
            </div>
          </div>
          <!-- Location section modal  -->
          <div class="modal fade" id="location" tabindex="-1">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-body">
                          <form class="form">
                              <label class="small form-check-label">Time Zone</label><br>
                              <input type="text" class="form-control"><br>
                              <label class="small form-check-label">Street Address</label><br>
                              <input type="text" class="form-control"><br>
                              <input type="text" class="form-control"><br>
                              <label class="small form-check-label">city</label><br>
                              <input type="text" class="form-control"><br>
                              <label class="small form-check-label">Zip/Postal Code</label><br>
                              <input type="text" class="form-control"><br>
                              <label class="small form-check-label">Phone</label><br>
                              <input type="phone" class="form-control"><br>
                              <button type="button" class="btn" data-bs-dismiss="modal">Update</button>
                              <button type="button" class="btn mx-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Location section modal  -->

      </section>

  </div>
</div>

<pre>































</pre>