<app-nav></app-nav>
<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="myinfo col-12 col-md-9">
            <p class="h2 fw-bold mb-5">Membership</p>

            <!-- Password  -->
            <div class="password card mb-5">

                <div class="card-header p-4">
                    <span class="h2">Summary</span>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="text col-7">
                            <span class="small fw-bold">Current Plain </span><br>
                            <span class="text-muted">Freelancer Basic</span><br>
                            <button class="btn m-3">View or Edit Membership Plan</button>
                        </div>
                    </div>
                </div>
                <!-- connects -->
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="text col-7">
                            <span class="small fw-bold">Available Connects</span><br>
                            <span class="text-muted">120</span><br>
                            <button class="btn m-3">Buy Connects</button>
                            <a href="#">Veiw Connects History</a>
                        </div>
                    </div>
                </div>
                <!-- membership connects -->
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="text col-7">
                            <span class="small fw-bold">Membership Connects</span><br>
                            <span class="small">10 per month</span><br>
                            <span class="text-muted">Any unused Connects at the end of your billing cycle will roll over to the next month (up to 200).</span><br>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="text col-7">
                            <span class="small fw-bold">Membership Fee</span><br>
                            <span class="small text-muted">Free</span><br>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="text col-7">
                            <span class="small fw-bold">Current Billing Cycle</span><br>
                            <span class="small text-muted">Jul 12, 2021 — Aug 11, 2021</span><br>
                        </div>
                    </div>
                </div>
            </div>






        </section>

    </div>
</div>

<pre>































</pre>