<div class="container" *ngIf="isLoaded">
    <div class="row">
        <div class="col-8">
            Portfolio Details
        </div>
        <!-- Start Slider -->
        <div class="slider">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ portfolio.data.images[0].images_path }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let image of portfolio.data.images">
                        <img src="{{ image.images_path }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- End Slider -->

        <h1>{{ portfolioData.title }}</h1>

        <q>
            {{ portfolioData.description }}
        </q>
    </div>
</div>
