<app-nav></app-nav>
<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="myinfo col-12 col-md-9">
            <p class="h2 fw-bold mb-5">Get Paid</p>

            <!-- Balance due  -->
            <div class="balance-due card mb-5">

                <div class="card-header p-4">
                    <span class="h2">Balance</span>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center py-4">
                        <div class="col-7 pull-left">
                            <span class="text-muted">Your balance due is <span class="fw-bold"> $0.00</span></span>
                        </div>
                        <div class="col-5  pull-right mx-0">
                            <button class="small btn pull-right">Get Paid Now</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Billing methods  -->
            <div class="billing-method card mb-5">

                <div class="card-header p-4">
                    <span class="h2">Payment Details</span>
                    <button class="small btn pull-right">Add Method</button>
                </div>
                <div class="card-footer py-2">
                    <p class="small fw-bold">You have not set up any billing methods yet.</p>
                    <p class="text-muted">Tell us how you want to receive your funds. It may take up to 3 days to activate your payment method.</p>
                </div>
            </div>


        </section>

    </div>
</div>

<pre>































</pre>