<div class="container py-5 px-3">

    <div class="row">


        <section class="sidebar d-none d-md-block col-md-3">
            <app-sidebar></app-sidebar>
        </section>
        <section class="myinfo col-12 col-md-9">
            <h1>Languages </h1>
            <p>7 of 12</p>
            <hr> <br>
            <h6> <b>What is your English proficienvy?</b> </h6>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
            <br>


            <h6> <b> What other Languages do you speak?  </b></h6> <br>
            <p> <b> Language  <p id="one">proficiency</p> </b> </p> <br> <br>
            <div class="container px-3">
                <div class="row ">
                    <select class="col form-select form-select-sm ">
         <option   class="p-3 border bg-light"  selected>Arabic</option>
         <option value="1">English</option>
        </select>
                    <select class="col form-select form-select-sm ">
          <option class="p-3 border bg-light"  selected>Native</option>
          <option value="1">Fluent</option>
        </select>
                </div>
            </div>
            <br> <br>
            <button class="bt1" type="button">  + Add Language </button>
            <br> <br> <br>
            <button class="bt1" type="button" routerLink="/user/signup/education"> Back </button>

            <button class="bt2" type="button" routerLink="/user/signup/hourly-rate">Next</button>

        </section>

    </div>
</div>
