<app-nav></app-nav>
<div class="container c" >
    <h4><b>Job details</b></h4>
</div>
<div class="container" *ngIf="isDataGet">
    <div class="row ps-4 border">
        <!-- left col -->
        <div class="col-12 col-lg-9 ">
            <div class="row border-bottom py-3 pt-md-4">

                <p class="po">{{job_details.job_title}}
                    <br><span class="sp">posted at: {{job_details.created_at | date:'yyyy-MM-dd hh:mm'}}</span>

                    <!-- <span><i class="fas fa-route ii"></i>WorldWide</span> -->
                </p>

            </div>
            <div class="row border-bottom mt-4 py-md-1">
                <p class="po">{{job_details.description}}</p>
            </div>
            <div class="row border-bottom py-3 pt-md-3">
                <div class="col-md-4 ">
                    <i class="far fa-clock ii"></i>
                    <p class="d-inline ms-md-1 po">{{job_details.duration}}

                    </p>
                </div>
          
                <div class=" col-md-4 ">
                    <i class="fas fa-dollar-sign ii"></i>
                    <p class="d-inline ms-md-1 po">{{job_details.experience}}
                        <!-- <br><span class=" sp">freelancers with the lowest rates</span> -->

                    </p>

                </div>

            </div>
         
            <div class="row border-bottom py-3 pt-md-3">
                <p class="po ii"><b>Skills and expertise </b></p><br>
                <p class="po">Web Design Languages </p>
                <ul class="nav free mb-md-4">
                    <li class="nav-item" *ngFor="let skill of job_skills">
                        <a class="nav-link " href="#">{{skill.name}}</a>
                    </li>
          
                </ul>
            </div>
            <div class="row border-bottom pt-3 pt-md-3">
                <div class="col ">
                    <p class="po ii"><b>Activity on this job </b></p>
                    <p class="po ">Proposals: {{job_details.proposals_number}}
                        <br><br> Last viewed by client: 3 days ago <br> Interviewing: 0 <br> Invites sent: 0 <br> Unanswered invites: 0 <br>


                    </p>
                </div>
            </div>

        </div>
        <!--end of left col -->
        <!-- right col -->
        <div class=" right d-none d-lg-block col-lg-3 border-start pt-md-4">
            <div class="row border-bottom ps-3">
                <button type="button" class="btn btnn btnn2 btn-lg rounded-pill  border border-1  p-0 mt-4 me-3 submitproposal " routerLink="/freelancer/work/details/submit-proposal" >submit a proposal</button>
                <button type="button" class="btn btnn2 btnn btn-lg rounded-pill  border border-1  p-0 mt-4 me-3  savejob ">Save Job</button>
                <br>

                <p class="ps-lg-2 pt-4 props">
                    Required Connects to submit a proposal: 6<i class="fas fa-question-circle ps-2"></i>
                    <br>
                    <br> Available Connects: 60
                </p>
            </div>

            <div class="row py-3 border-bottom">
                <h5><b>About client</b></h5>
                <p class="ps-3 pt-2"><i class="fas fa-check-circle pe-1"></i>Payment method verified</p>
                <p class="ps-3 pt-2">{{clients.country}}<br> Munich 3:04 pm
                </p>
                <p>
                    45 jobs posted<br> 47% hire rate, 1 open job<br><br> $300+ total spent<br> 22 hires, 0 active</p>

            </div>
            <div class="row pt-3">
                <h5><b>Job link</b></h5>
                <div class=" border divborder px-1">
                    <p class="plink">https://www.upwork.com/job</p>
                </div>
                <br><br>
                <a class="pt-3" href="">
                    <h5>copy link</h5>
                </a>



            </div>
        </div>
        <!--end of right col -->
        <div class="container fixed-bottom d-lg-none d-md-block">

            <button type="button" class="btn btnn2 btn-lg rounded-pill  border border-1  p-0 mt-4 me-3  mx-5 "  (click)="submitproposal()">Submit a proposal</button>

            <button type="button" class="btn btnn2 btn-lg rounded-pill  border border-1  p-0 mt-4 me-3  mx-5 ">Save Job</button>

        </div>
    </div>

</div>


<!-- //second container -->

<div class="container border py-4 " *ngIf="isDataGet">
    <div class="row border-bottom">
        <div class="col">
            <h4>Client's recent history</h4>

        </div>


    </div>
    <div class="row pt-3">
        <div class="col">
            <h5><b>PHP Developer Require For a small Assignment Task</b></h5>
            <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>A perfect client to work with {{clients.name}}, friendly and right on the point!
                <br> To freelancer: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Rating is 5 out of 5. Its really pleasure to work with George Lioympas, He delivered the work on time, efficient code, good quality and
                always available to discuss the things. I must recommend him for future work!! Thanks
            </p>
        </div>
    </div>




    <div class="row pt-3">
        <div class="col">
            <h5><b>Distance Map Integration in Laravel</b></h5>
            <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>A perfect client to work with, friendly and right on the point!
                <br> To freelancer: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Rating is 5 out of 5. Its really pleasure to work with George Lioympas, He delivered the work on time, efficient code, good quality and
                always available to discuss the things. I must recommend him for future work!! Thanks
            </p>
        </div>
    </div>
</div>
