h3 {
    color: var(--mc)
}
.login{
    color: var(--mc);
    text-decoration: none;
}
.login:hover{
color: var(--tc);
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

#submit {
    color: var(--mc);
    background-color: var(--bg);
    border-radius: 30px;
}

#submit:hover {
    color: var(--bg);
    background-color: var(--mc);
}