.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

#submit{
  color: white;
  background-color: #0D265F;
  border-radius: 30px;
}
#submit:hover{
  color: #0D265F;
  background-color: white;
}
