<div class="container py-5 px-3">

    <div class="row">



        <section class="myinfo col-12 col-md-9">
            <!-- <p class="h1 fw-bold mb-5">Billing & payments</p> -->

            <!-- My Drafts  -->
            <div class="balance-due card mb-5">

                <div class="card-header p-4">
                    <span class="h2">My Drafts</span>
                    <span class="small pull-right mt-2">all drafts</span>
                </div>
                <div class="card-footer">
                    <div class="row py-4">
                        <div class="col-7 pull-left">
                            <a href="#"><span class="fw-bold h6">Lorem ipsum dolor sit amet </span></a>
                            <p class="text-muted small mt-3">Lorem ipsum, dolor sit amet</p>


                        </div>
                        <div class="col-5 mx-0">
                            <div class="dropdown pull-right">
                                <a class="btn btn-sm btn- rounded-circle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="./assets/images/menuicon.png" class="rounded-circle img" alt="">
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">hello</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- My Drafts  -->
            <div class="balance-due card mb-5">

                <div class="card-header p-4">
                    <span class="h2">My Drafts</span>
                    <span class="small pull-right mt-2">all drafts</span>
                </div>
                <div class="card-footer py-4 text-center">
                    <button class="draft-btn btn">Post A Job</button>
                </div>
            </div>



            <!-- How to work with talent -->
            <div class="How-to-work card mb-5">

                <div class="card-header p-4">
                    <span class="h5 fw-bold">How to work with talent</span><br>
                    <span class="small text-muted mt-2">Connect with a talent community that numbers in the millions, fast and at no cost.</span>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                        <div class="work-img col-3 col-lg-2">
                            <div class="img h-100 w-100"></div>
                        </div>
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                        <div class="work-img col-3 col-lg-2">
                            <div class="img h-100 w-100"></div>
                        </div>
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                        <div class="work-img col-3 col-lg-2">
                            <div class="img h-100 w-100"></div>
                        </div>
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-2 ">
                    <p class="h6 fw-bold">Questions?</p>
                    <p class="small text-muted">Visit our Help Center to learn more tips for finding the right talent.</p>
                </div>

            </div>

        </section>











        <!-- sidebar section  -->
        <section class="sidebar d-none d-md-block col-md-3">
            sidebar
        </section>

    </div>
</div>

<pre>































</pre>
