.company span {
    color: var(--mc);
    cursor: pointer;
}

.company span:hover {
    color: var(--sc);
}

.company-name .h5 {
    color: var(--mc)
}

.company .btn {
    border: 1px solid var(--mc);
    background-color: var(--bg);
    border-radius: 20px
}

.company .btn:hover {
    border: 1px solid var(--bg);
    background-color: var(--mc);
    color: var(--bg);
}

.container .dropdown img {
    width: 40px;
    height: 40px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.draft-btn,
.slide-btn {
    border: 1px solid var(--mc);
    background-color: var(--bg);
    width: 10rem;
    border-radius: 3rem;
}

.draft-btn:hover,
.slide-btn:hover {
    background-color: var(--mc);
    color: var(--bg);
}

.work-img {
    height: 80px;
}

.img {
    background-image: url("/../../../../assets/images/daria-pimkina-Dj5HnHMtkH0-unsplash.jpg");
    background-size: cover;
    border-radius: 20px;
}

.slide-images {
    height: 250px;
}

.slide-images img {
    width: 100%;
    height: 100%;
}

.job-templates a {
    text-decoration: none;
    color: var(--mc);
}

.h2,
.h5,
.h6 {
    color: var(--mc)
}

.card {
    background-color: var(--bg)
}