<app-nav></app-nav>
<!-- company header  -->
<div class="container mt-5">

    <div class="company row p-3">

        <div class="company-name col-12 col-lg-7 mb-4">
            <span class="h5 fw-bold mx-3">Company Name</span>
            <span class="fa fa-racquet fa-lg mx-3"></span>
            <span class="fa fa-question-circle fa-lg"></span>
        </div>
        <div class="company-buttons col-12 col-lg-5">
            <div class="row">
                <div class="col-8 col-md-6 col-lg-8">
                    <span class="fa fa-question-circle fa-lg mx-1"></span>
                    <button class="browse btn fw-blod px-2">Browse Project Catalog</button>
                </div>
                <div class="col-4 col-md-6 col-lg-4">
                    <a class="post btn fw-blod px-2" routerLink="/client/post-job">Post A Job</a>
                </div>
            </div>

        </div>

    </div>



</div>


<div class="container py-5 px-3">

    <div class="row">



        <section class="myinfo col-12 col-lg-8 col-xl-9">
            <!-- <p class="h1 fw-bold mb-5">Billing & payments</p> -->

            <!-- My Drafts  -->
            <div class="balance-due card mb-5">

                <div class="card-header p-4">
                    <span class="h2">My Drafts</span>
                    <span class="small pull-right mt-2">all drafts</span>
                </div>
                <div class="card-footer">
                    <div class="row py-4">
                        <div class="col-7 pull-left">
                            <a href="#"><span class="fw-bold h6">Lorem ipsum dolor sit amet </span></a>
                            <p class="text-muted small mt-3">Lorem ipsum, dolor sit amet</p>


                        </div>
                        <div class="col-5 mx-0">
                            <div class="dropdown pull-right">
                                <a class="btn btn-sm btn- rounded-circle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="./assets/images/menuicon.png" class="rounded-circle img" alt="">
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Edit Draft</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Remove Draft</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- My Drafts  -->
            <div class="balance-due card mb-5">

                <div class="card-header p-4">
                    <span class="h2">My Drafts</span>
                    <span class="small pull-right mt-2">all drafts</span>
                </div>
                <div class="card-footer py-4 text-center">
                    <button class="draft-btn btn">Post A Job</button>
                </div>
            </div>



            <!-- How to work with talent -->
            <div class="How-to-work card mb-5">

                <div class="card-header p-4">
                    <span class="h5 fw-bold">How to work with talent</span><br>
                    <span class="small text-muted mt-2 mb-0">Connect with a talent community that numbers in the millions, fast and at no cost.</span>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                       
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold mt-3">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                        
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-2 ">
                    <div class="row px-4">
                        
                        <div class="work-description col-9  col-lg-10">
                            <p class="h6 fw-bold">1. Post a job to the marketplace</p>
                            <p class="small text-muted">What would you like to get done? Make sure you provide enough detail for great talent to identify if it's right for them.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-4">
                    <p class="h6 fw-bold">Questions ?</p>
                    <p class="small text-muted">Visit our Help Center to learn more tips for finding the right talent.</p>
                </div>

            </div>

        </section>

        <!-- sidebar section  -->
        <section class="sidebar d-none d-lg-block col-lg-4 col-xl-3">
            <div class="card mb-5">
                <div class="slide-images card-title">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/avi-richards-Z3ownETsdNQ-unsplash.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/fakurian-design-SwEugqgu3xI-unsplash.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card-caption  -->
                <div class="card-caption card-body text-center">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="h5">First slide label</p>
                                <p class="text-dark">Some representative placeholder content for the first slide.</p>
                                <button class="slide-btn btn small fw-bold">Learn More</button>
                            </div>
                            <div class="carousel-item">
                                <p class="h5">First slide label</p>
                                <p class="text-dark">Some representative placeholder content for the first slide.</p>
                                <button class="slide-btn btn small fw-bold">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Job Templates -->
            <div class="job-templates card mb-5">

                <div class="card-header p-4 pt-4">
                    <span class="h5 fw-bold">Job Templates</span><br>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Accounting</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Admin Support</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Design & Creative</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Legal</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Mobile Development</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Sales & Marketing</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Translation</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
                <div class="card-footer py-3 pull-left">
                    <span class="fa fa-file"></span>
                    <a href="#"><span class="small mx-3"> Data Entry</span></a>
                    <span class="fa fa-arrow-right px-2 pull-right mt-1"></span>
                </div>
            </div>

        </section>

    </div>
</div>

<pre>































</pre>
