<app-nav></app-nav>
<div class="container mt-4">

    <!-- alert section  -->
    <div class="alert alert-warning alert-dismissible fade show " role="alert">
        <p class="h5">Holy guacamole! </p> <small class="text-dark"> All freelancers are required to complete a W9 or a W-8BEN form to withdraw money. Learn more</small>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="myjobs ">
        <p class="h5 mx-4 mt-2 float-start fw-bold"> My jobs</p>

        <div class="float-end d-flex align-items-center">

            <div class="myjobs-link">
                <p class="h5">Earnings available now: <a href="#">$0.00</a></p>
            </div>

            <div class="dropdown mb-2">
                <a class="btn btn-sm btn- rounded-circle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./assets/images/menuicon.png" class="rounded-circle img" alt="">
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item small" href="#">get paid</a>
                    </li>
                    <li>
                        <a class="dropdown-item small" href="#">view pending earnings</a>
                    </li>
                    <li>
                        <a class="dropdown-item small" href="#">go to reports</a>
                    </li>
                    <li>
                        <a class="dropdown-item small" href="#">learn about payments</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>


    <!-- active contracts section  -->
    <div class="card">
        <div class="card-body border-bottom">
            <h3 class="card-active m-3 fw-bold">Active contracts</h3>
        </div>
        <div class="card-body">
            <section>
                <p class="mx-3">Contracts you're actively working on will appear here.<button href="#" class=" btn fw-bold">Start searching for new projects now!</button></p>
            </section>
        </div>
    </div>
</div>